[2017-05-09 03:15] htuch opened #1 "Add support for true H2 routing priorities in RDS RoutingPriority"
Currently a DEFAULT/HIGH enum, do we want to go to arbitrary integers to leave scope for full H2 priorities in v2?

@tschroed @mattklein123

[2017-05-09 03:18] htuch opened #2 "Add zone to WeightedCluster ClusterWeight in RDS"
@tschroed suggests both zone and cluster name in weighted clusters, e.g. weight: <zone>:<namespace>:<service>. @mattklein123

[2017-05-09 03:22] htuch opened #3 "Remove RoutingPriority from virtual clusters"
Virtual clusters are promoted mostly as a logical grouping for the purposes of stats. The routing priority is an exception, where the forwarding action is modified by the virtual cluster.

@mattklein123 says: "I think we should remove priority from virtual cluster. However, this was mostly put here because we don't have regex route matching currently. I think we probably need to add this as an opt

[2017-05-09 03:24] htuch opened #4 "Add template variables to request_headers_to_add in RDS"
E.g. `{CLIENT_RTT} {TLS_CIPHER} {CLUSTER} {SERVICE}`. We may be able to make use of existing support in the access log implementation.

[2017-05-09 03:27] htuch opened #5 "Cleanup HashPolicy in RDS"
* Change comment to indicate that this is a point of future extensibility.
* Add `oneof` selection to `HashPolicy`.
* Remove `repeated` from `hash_policy`.

[2017-05-09 13:52] htuch opened #6 "Add prefix group support to LDS"
Currently, `FilterChainMatch` can specify a prefix/suffix IP and match length. This is actually a little redundant - we could just specify a single address and prefix/suffix match length, but this was left there as we may want to add the notion of prefix groups to make filter chain tables more compact. This issue will track.

[2017-05-09 13:55] htuch opened #7 "Add version info to all *DS APIs"
All v2 *DS APIs are supposed to include a version identifier. This is not the case today for the APIs in this repo. This issue will track adding this.

[2017-05-09 15:10] mattklein123 commented on #7
I thought we decided we are not doing this and the appropriate way is via the proto namespace? Any future API would be /v3/ in JSON terms.

[2017-05-09 15:12] htuch commented on #7
Yes, you're right, we need to add this to the proto build somehow though.

[2017-05-09 17:49] htuch commented on #1
Routing priorities span across to other APIs. E.g. in CDS with https://lyft.github.io/envoy/docs/configuration/cluster_manager/cluster_circuit_breakers.html#config-cluster-manager-cluster-circuit-breakers.

[2017-05-11 10:02] PiotrSikora opened #14 "Address: implementations details leaked to the API surface."
// For listeners, bind to 0.0.0.0 or :: to support the use of prefix/suffix
    // matching in FilterChainMatch.

Why? If someone wants to listen on say, `127.0.0.0/8:80`, then that's what configuration and/or API should contain.

Yes, we'll bind to `0.0.0.0:80` in the code and do matching based on receiving socket's IP address, but there is absolutely no reason why configuration and/or API should

[2017-05-11 11:31] htuch commented on #14
I don't see how listening on `127.0.0.0/8` is any clearer than just binding `0.0.0.0` and setting a `FilterChainMatch` prefix. To be fully general for Google's needs,  in `FilterChainMatch` we will need to support multiple prefix groups (https://github.com/lyft/envoy-api/issues/6), which can't be accommodated here.

I'd be open to making 0.0.0.0/:: the default bind if no address is specified, thou

[2017-05-11 21:39] htuch opened #22 "Determine relationship between v1 upstream runtime settings and v2 EDS/RDS APIs"
In the v2 API, we have `drop_overload` in EDS, which specifies on a per-cluster basis the percentage of load to drop when upstream hosts are overloaded.

In the v1 API, https://lyft.github.io/envoy/docs/configuration/http_filters/router_filter.html provides a similar capability via its runtime (https://lyft.github.io/envoy/docs/intro/arch_overview/runtime.html) `maintenance_mode` setting, also on

[2017-05-11 21:46] htuch commented on #7
https://github.com/lyft/envoy-api/pull/9 is the right way to do this.

[2017-05-11 22:14] kyessenov opened #23 "RDS-like API for TCP filter"
The current proposal seems to require using LDS for TCP proxy filter, but none of the tcp_proxy config elements are schematized. Is TCP proxy support planned as part of LDS revamp?

[2017-05-11 22:18] kyessenov opened #24 "Document availability requirements between CDS/RDS/LDS"
I've noticed that cross-references between CDS/RDS/LDS are qualified with "must", e.g. cluster names in RDS are required to be present in CDS. I think it would be better to allow dangling references and precisely document the behavior in the case when CDS becomes unavailable while RDS is operational.

[2017-05-11 22:20] kyessenov opened #25 "Feature request: structured opaque_config"
Opaque config in RDS is a nice mechanism to pass route configuration to filters in LDS. I think this might be a good opportunity to enforce some structure for it (maybe a map from filter name to a generic struct).

[2017-05-11 22:50] mattklein123 commented on #22
I would probably open an entire issue to untangle runtime vs. the API. We need to audit and make sure all runtime values have config variants. I do still think that runtime is useful for people doing static configs, so we may want to retain some of the semantics such that values can be overriden in some cases. Definitely needs more thinking.

[2017-05-11 23:15] mattklein123 commented on #23
We will be adding individual .proto files for all the existing filters. The filter configs will then be embedded like they are today with JSON.

[2017-05-11 23:15] mattklein123 commented on #24
Agree, we should allow dangling reference to allow eventually consistent update (which is already supported).

[2017-05-11 23:16] mattklein123 commented on #25
How is this different from what we have today?

[2017-05-11 23:21] mattklein123 opened #26 "Move ratelimit proto into this repo"
https://github.com/lyft/ratelimit/blob/master/proto/ratelimit/ratelimit.proto
https://github.com/lyft/envoy/blob/master/source/common/ratelimit/ratelimit.proto

cc @junr03

[2017-05-12 00:18] kyessenov commented on #25
There is no guideline how to use opaque config and it's a flat key-value dictionary. Proto struct is an improvement since it allows nested dictionaries. What I am suggesting is that require that the fields in the struct be named after the filter that uses it.

[2017-05-12 15:38] htuch commented on #25
We could make `opaque_config` a `map<string, google.protobuf.Struct>`, where the key is the name of the filter. Will we ever share opaque config blobs between filters? What should be the convention in this scenario?

In general, with filter names, do we want to adopt reverse domain names Java-style, e.g. `com.acme.widget` to avoid conflicts in the filter namespace?

[2017-05-12 15:40] htuch commented on #24
I will writeup a `README.md` stating API goals and principles today. Eventually consistency is one such principle we can include.

[2017-05-12 15:41] htuch commented on #23
Yeah, I have on my TODO list to add a `api/filters` directory where we express some of the existing filters.

[2017-05-12 15:42] htuch commented on #14
@PiotrSikora Can we consider this closed since #17 and other discussions, or is there something we want to do with this issue that is actionable?

[2017-05-12 15:46] htuch opened #27 "Runtime values in v2 gRPC API"
The existing API has a number of runtime settings expressed via https://lyft.github.io/envoy/docs/intro/arch_overview/runtime.html flags on the filesystem. We should audit these and ensure that the v2 gRPC API is suitably expressive to allow these to be delivered via xDS. See #22 for an example.

There is a desire to retain runtime configuration for simpler static configurations that don't operate

[2017-05-12 15:48] htuch commented on #27
@mattklein123 What if we make even static configurations xDS? Serve up the static configs via some simple loopback server?

Then, we can have the loopback server watch with inotify the config fragments and send an update to the server.

This way, we don't need to special case static configurations in either the API or implementation, and we only need a fairly simple loopback server that Envoy can

[2017-05-12 15:49] htuch commented on #22
This is now covered by the more general #27.

[2017-05-12 15:49] #22 closed

[2017-05-12 21:23] mattklein123 commented on #27
Per offline convo, I like the idea of the loopback, but I think it will be pretty complicated to merge the existing "runtime" code with generic config on the fly. It's worth thinking about though. IMO if we just make sure that all major runtime values for routing can be expressed in the config, we are probably headed in the right direction.

[2017-05-14 14:49] htuch commented on #26
WDYT about renaming to Rate Limit Discovery Service (RLDS) to provide consistency with the other APIs and allow for xDS to cover this as an abbreviation?

[2017-05-14 15:34] htuch opened #29 "Clarify HDS/EDS relationship"
Clarify HDS/EDS a little further in the API documentation. Will EDS always be a subset of HDS, or might we have a HDS set of endpoints that are completely distinct to EDS endpoints? From what I've heard so far, it's the latter, but we don't spell this out explicitly yet.

[2017-05-15 18:38] htuch opened #33 "Opaque metadata fields for logging, debug, stats etc."
Each xDS API proto may be generated from a higher level configuration language, and it may be desirable to reflect in stats, logs and debug messages metadata relating to rules in this higher level language. For example, a route may come from some higher level forwarding rule and the ID of this forwarding rule should appear in the access log. To achieve this, we should add opaque metadata fields to

[2017-05-15 18:43] htuch commented on #33
@dnoe for proto access log input (as tracked in https://github.com/lyft/envoy/issues/743).

[2017-05-15 20:32] htuch opened #34 "Reverse DNS naming"
Filters, resolvers, loggers etc. are today identified in a flat namespace. Should we adopt reverse DNS (e.g. `com.google.widget` in v2 to better disambiguate conflicting implementations?

[2017-05-15 22:25] mattklein123 commented on #26
Meh. Not sure we really need to jam everything into an xDS name, but also don't feel very strongly one way or the other.

[2017-05-15 22:25] mattklein123 commented on #29
From going back and forth on this a bit with @amb67 I think we came to the conclusion that it's definitely the latter. But yeah we should clarify.

[2017-05-15 22:30] mattklein123 commented on #33
I agree. This would be useful for Lyft also. We already do this in some of the RL config stuff, but are not explicit about it. Perhaps we can try to be explicit about the places where we want opaque names for logs/stats/etc.

[2017-05-15 22:31] mattklein123 commented on #34
Sure, sgtm.

[2017-05-16 01:32] #7 closed

[2017-05-16 13:26] dnoe commented on #33
We can include this in the access log first, and think about some way of making the same information readily accessible in the error/warn/debug logs for tracing.

[2017-05-16 13:42] tschroed commented on #34
+1

[2017-05-16 16:19] htuch commented on #34
I'll add this to Principles in #28.

[2017-05-16 16:20] htuch opened #36 "Add support for source IP/port matching to FilterChainMatch"
We can then move the route configuration for TCP proxy (https://lyft.github.io/envoy/docs/configuration/network_filters/tcp_proxy_filter.html) into the common `FilterChainMatch` table.

[2017-05-17 21:18] htuch opened #45 "Add TCP proxy filter idle timeout"
@tschroed @antoniovicente @alyssawilk

[2017-05-18 11:25] htuch commented on #34
Fixed in #28.

[2017-05-18 11:25] #34 closed

[2017-05-18 11:28] htuch commented on #24
Fixed in #28.

[2017-05-18 11:28] #24 closed

[2017-05-18 11:30] htuch commented on #29
Fixed in #29.

[2017-05-18 11:30] #29 closed

[2017-05-18 18:13] htuch commented on #26
I don't mind not jamming everything into xDS, but then we need to stop using xDS everywhere to refer to the new APIs unless we want to explicitly not include the rate limit service.

[2017-05-18 21:28] htuch commented on #1
H2 priorities are already supported on the downstream connection via nghttp2. Need to determine if we need to reflect H2 priorities to the upstream.

[2017-05-18 21:30] htuch commented on #2
Weighted clusters are used for canarying, A/B testing and blue-green deployment, so there's probably not much value in including locality information here.

[2017-05-18 21:30] #2 closed

[2017-05-18 21:31] htuch commented on #3
Will add regex match support to API.

[2017-05-18 21:34] htuch commented on #14
Based on discussion with @mattklein123, the idea is we would like the user to be explicit about what we bind to (e.g. they may have other processes that need port binding and confusion might result). Given the 0.0.0.0/:: default is now in, I'm going to close this out, feel free to reopen if you would like to continue discussion.

[2017-05-18 21:34] #14 closed

[2017-05-18 21:36] htuch commented on #26
Agree to name this Rate Limit Discovery Service (RLDS).

[2017-05-18 21:41] htuch commented on #27
Some discussion from today:
* Any time runtime is used in the context of routing, this must become part of the respective v2 API, e.g. RDS.
* Feature flags can be provided by an additional API (Runtime Discovery Service RTDS).

[2017-05-19 09:31] #33 closed

[2017-05-19 09:32] #5 closed

[2017-05-19 09:33] #23 closed

[2017-05-19 09:35] htuch commented on #45
Fixed in #51.

[2017-05-19 09:35] #45 closed

[2017-05-19 09:36] htuch commented on #25
Fixed in #48.

[2017-05-19 09:36] #25 closed

[2017-05-19 15:20] #4 closed

[2017-05-19 15:26] #3 closed

[2017-05-19 16:04] #6 closed

[2017-05-19 16:05] htuch commented on #36
Fixed in #49.

[2017-05-19 16:05] #36 closed

[2017-05-19 16:05] #1 closed

[2017-05-19 19:39] htuch opened #59 "Filter emitted metadata"
@kyessenov points out in https://github.com/lyft/envoy-api/pull/58 that it would be useful to have the filters able to produce metadata, in addition to the metadata we pick up during listener/filter chain/route selection that is already in the v2 API. This metadata could also be used in format strings for access logs and request/response logs to add. This issue will track work on this.

[2017-05-19 19:41] mattklein123 commented on #59
Yeah, basically I would add the ability to set metadata in the RequestInfo interface. That could then be used in logging/tracing.

[2017-05-19 20:09] kyessenov opened #60 "Auditing routing decisions"
I would like to have a way to audit the routing decisions that envoy makes as part of the debugging process or for post-factum audit. I think we may want to have:
1) some form of an ID for RDS/route tables that allows us to query the status of the route table or record the ID of the routes applied to a request in the access log
2) access log should record a reference to the filter metadata/config

[2017-05-19 20:13] htuch commented on #60
This mechanism already exists in v2. You can add "envoy.http_connection_manager.access_log.route_id" metadata to the Route metadata when you generate it. In the access log you can then refer to the metadata via the mechanism that will be described at https://github.com/lyft/envoy-api/blob/master/api/filter/http_connection_manager.proto#L124.

Would this work for your purposes?

[2017-05-19 20:15] kyessenov commented on #60
Yeah, that would work. But I think it might be a fairly common problem that we might as well bake into the API.

[2017-05-19 21:02] htuch commented on #60
I think I'll defer to the API principles here in README.md: "The API is primarily intended for machine generation and consumption. ". With that in mind, I think as long as we have a suitable mechanism to allow whatever is doing the generating to express the desired logging, we're good. Config generator tools or higher level languages can bake in the concept.

[2017-05-22 19:02] hzariv opened #62 "Policy Enforcement Service support"
Envoy as an east-west service-to-service proxy is the perfect place to enforce Microsegmentation policies. With an externalized policy service Envoy can support using an API to can policy enforcement service to find out if Service A is allowed to talk to Service B.

[2017-05-23 16:00] jwfang commented on #62
just curious, how is this difference from mixer check call ?

[2017-05-23 16:03] kyessenov commented on #62
I think the question is, is Mixer API going to be standardized as part of Envoy API? I don't think we should tie the two together, but implementing a custom policy enforcement engine using Mixer filter/Mixer API might be a good option to reuse Istio infrastructure.

[2017-05-24 14:26] htuch commented on #60
Closing out as I think we have the right mechanism here, feel free to reopen if there are still open questions.

[2017-05-24 14:26] #60 closed

[2017-05-24 14:27] htuch commented on #59
We should add this to the access logs proto in the PR that adds support for filter defined metadata.

[2017-05-24 14:35] htuch commented on #59
Also from @mandarjog:

"
This part is perhaps covered in the metadata bit. However specifically for the Mixer filter, it is important to record
1. Check operation response.
2. Quota / rate limit operation response

The accesslog should support `struct` or `Any` fields keyed by the producing filter.
"

[2017-05-25 14:18] htuch opened #63 "Filter direction in config"
Today, filters have their direction implied in two ways: by the interfaces they implement and in the configuration. Is there a reason to have this (e.g. allowing a filter that does both encoding/decoding to optionally only act as a decoder) or should we remove filter direction from the config?

[2017-05-25 14:22] htuch opened #64 "Track v1 config changes"
There have been a few changes to the v1 API at https://github.com/lyft/envoy/ that have occurred since work on the v2 API began. We should ensure they are all reflected in v2. They can be see in the history at https://github.com/lyft/envoy/commits/master/source/common/json/config_schemas.cc and also in the deprecation tracking issue at https://github.com/lyft/envoy/issues/1012.

[2017-05-25 14:28] htuch commented on #62
It seems this is beyond the scope of what we want to do in v2. The scope is described at https://github.com/lyft/envoy-api#goals. v2 is largely about moving most of the existing runtime config to dynamic JSON/gRPC APIs and some specific improvements around load balancing and health checking. My inclination is to regard this as an Istio feature today and leave any consideration of convergence for t

[2017-05-25 14:29] htuch commented on #26
@junr03 Just a quick checkin to see if this is still on your radar. I don't mind doing it either if you're busy.

[2017-05-25 17:14] junr03 commented on #26
@htuch yep still on my radar. Will get this done at some point today.

[2017-05-30 17:26] htuch opened #68 "Add support to TcpProxy configuration for IP hashing"
While we can likely already accommodate IP hashing today for HTTP requests with a combination of RING_HASH and the XFF header, this doesn't work for TCP proxy connection hashing, e.g. when we want to land all connections from the same source on a fixed subset of servers.

[2017-05-30 17:41] htuch opened #69 "Add cookie hash support to RDS"
Add to `HashPolicy` in https://github.com/lyft/envoy-api/blob/master/api/rds.proto#L194 the ability to hash on a specific cookie value.

[2017-05-31 17:52] junr03 commented on #26
Fixed by https://github.com/lyft/envoy-api/pull/67. I have created issues in ratelimit https://github.com/lyft/ratelimit/issues/14 and envoy https://github.com/lyft/envoy/issues/1034 to track their consumption of the new proto

[2017-05-31 17:52] #26 closed

[2017-06-01 14:19] htuch commented on #69
Envoy should also be able to generate the affinity cookie with a configurable TTL, see for example https://cloud.google.com/compute/docs/load-balancing/http/backend-service#generated_cookie_affinity.

[2017-06-02 20:13] htuch opened #74 "REST request idempotency and management server stickiness"
One of the issues we will encounter when implementing the REST API for v2 is that the REST API needs to repeatedly poll (either periodically every N ms or with long polling after each received request). There are two issues here:

1. We need to have the REST client stutter the last message sent (or some kind of idempotent message) to keep receiving updates. This only works if the last message sent

[2017-06-02 20:13] htuch commented on #74
@mattklein123 @louiscryan @amb67

[2017-06-05 21:16] mattklein123 commented on #63
The reason I originally did it this way was that I thought it might be useful for a filter to be able to be a different type depending on what the config says. In practice, in 2+ years, this has never happened, and I think if it did, it would be better to just register the filter twice with a different name. So, I think we can probably remove the filter direction from the config. The only real rea

[2017-06-05 23:02] htuch commented on #74
Closing this out, I'm going to put together a design doc that addresses a bunch of REST issues of which this is a subset.

[2017-06-05 23:02] #74 closed

[2017-06-06 18:39] mattklein123 commented on #62
@kyessenov @louiscryan I would like to discuss whether we want to move mixer API/filter into Envoy repo. I agree it's a separate discussion, but I an see many reasons to do this.

[2017-06-06 18:40] louiscryan commented on #62
Generally agreed though I think we need some time for the APIs to settle down here

[2017-06-06 18:46] mattklein123 commented on #62
Yup sounds good.

[2017-06-06 18:47] htuch commented on #63
I'll defer to the "The API is primarily intended for machine generation and consumption" API principle here on the descriptive point. I think removing it might make sense based on what you say.

[2017-06-06 18:52] mattklein123 commented on #63
OK SGTM

[2017-06-08 13:49] tschroed opened #76 "Add config ACK support"
For various reasons, Envoy might be unable to accept a new config provided via a discovery service. (The simplest case is semantically invalid.) For this reason, it would be useful to provide an explicit acknowledgement of the currently active configuration. Given the eventually consistent model, "active" has a somewhat fuzzy definition, but let's not worry too much about that now.

Likely impleme

[2017-06-08 13:52] htuch commented on #76
Can we also have gRPC provide in its next request on the bi-di stream the same message that REST would use?

[2017-06-08 14:11] tschroed commented on #76
Given that it's streaming updates, do you mean the next time it starts a new RPC? (i.e. disconnects and reconnects.)

[2017-06-08 14:15] htuch commented on #76
Take RDS today as an example - https://github.com/lyft/envoy-api/blob/master/api/rds.proto. In both REST and gRPC we send a `RouteDiscoverRequest`. If we add version info to that, we can send it on each REST poll and also on gRPC bidi as an "ack" (really a request for a newer config).

[2017-06-08 15:28] mattklein123 commented on #76
+1 to @htuch suggestion on design

[2017-06-15 00:03] mccv opened #81 "Add Label Support on Endpoint"
It would be useful to be able to add more metadata to endpoints, like the canary value that's available on LbEndpoint in eds.proto. Kubernetes, DC/OS, and other systems support arbitrary labeling of instances, and making those available via EDS to be used in routing directives opens up a pretty wide range of nice use cases. If metadata were available on the endpoint, the canary attribute could be

[2017-06-15 00:05] mattklein123 commented on #81
Yes I agree we should remove the specific canary flag and replace it with a generic set of labels.

[2017-06-15 02:06] htuch commented on #81
We can have this take the same form as other metadata we tag listeners, filter chains, and routes with, e.g. https://github.com/lyft/envoy-api/blob/master/api/rds.proto#L229.

[2017-06-15 02:36] mattklein123 commented on #81
In this case I'm not sure if we want to use the Metadata struct, since we probably want to have a generic routing rule that would allow the load balancer to narrow load balanced hosts by label. So it might be better served as a list of strings. It's possible we could use the Metadata map and just ignore the opaque payload. Not sure. Needs some thinking.

Also, popping the stack, @mccv is asking fo

[2017-06-15 04:05] mccv commented on #81
Yeah, I think (correct me if I'm wrong) it's the danger of having a potentially huge number of overlapping clusters defined vs. making the routing rules more complex by allowing a route to constrain to a sub-cluster set of instances. That bit would require changes to the RDS for sure.

I _think_ this change is less invasive. Using the existing metadata allows an EDS to inject scoped metadata. This

[2017-06-15 15:51] mattklein123 commented on #81
Exactly. I don't want to pollute this issue with the load balancer discussion since there are use cases we know we already need to do with subsetting like forcing the load balancer to choose a canary. This is just a more general case of that. We can sort out the load balancer implementation issues separately.

For this change I think we just need to decide if we want to reuse the existing Metadata

[2017-06-16 16:40] htuch opened #84 "Provide cert serving API independent of LDS"
Add to the `TlsContext` `DataSource` an option to fetch certs/keys from another discovery service (KDS?). This motivation here is that a certificate management provider can provide managed certificates without having to also be responsible for serving up LDS.

[2017-06-16 16:40] htuch commented on #84
@amb67

[2017-06-16 18:09] htuch opened #85 "Switch version_info to string"
The JSON canonical representations of `bytes` is base64 encoded (see https://developers.google.com/protocol-buffers/docs/proto3#json). When we have JSON configs coming from the file system, we want them to be human readable. It seems that if we switch to `string` we can accommodate both human readable configs while retaining the opacity of `version_info`.

[2017-06-16 18:09] htuch commented on #85
@tschroed

[2017-06-16 19:33] tschroed commented on #85
Eww. Proto requires that strings be 7-bit ASCII or UTF-8, making it a pain to put binary blobs in there, but I guess we could base64 _those_ since they won't be human-readable anyhow.

[2017-06-16 21:48] mattklein123 opened #86 "Listeners need a unique ID"
For LDS, just like CDS, I need a unique way to identify each individual listener. That way I know when to remove stale ones vs update. I'm going to add this in current JSON config for listeners sent over LDS REST API, but just tracking here for v2 API.

[2017-06-18 23:45] #85 closed

[2017-06-19 20:09] htuch opened #89 "Add notion of canary/production to all xDS APIs"
The xDS APIs themselves might be canaried (as opposed to the existing notion of canary endpoints or clusters). We can add to `DiscoveryResponse` a notion of canary (a boolean? a tag?). This can be used to allow configurable behavior in Envoy when rejecting non-canary configs (e.g. bug out).

@tschroed

[2017-06-20 20:02] 9len commented on #81
@mattklein123 we definitely have use-cases where the load balancer would need both key and value for an endpoint label. We could jam `{key}={value}` in the key for this, but it seems like being able to handle a simple string Metadata message in the loadbalancer might be cleaner.

To give a concrete example, we might have several endpoints, each with `version` label keys, but with different values,

[2017-06-20 20:19] mattklein123 commented on #81
Sure sounds good. Let's just use the opaque metadata structure for now.

[2017-06-20 20:40] 9len opened #91 "Add metadata to ClusterWeight"
This may be a little more controversial than #81, but the idea is similar. We'd like to be to filter a weighted cluster by endpoint label, and as nearly as I can tell, this needs to happen in the ClusterWeight.

We could probably get by baking this in the Route metadata, but it's really specific to the weighted cluster, so it would be a little klunky.

[2017-06-20 20:41] 9len commented on #81
@htuch is this likely to be on your radar at all in the near term, or would it be helpful for us to put a PR together?

[2017-06-20 20:42] htuch commented on #81
@9len Either way is good. I was planning on making a sweep of smaller API issues later this week to cleanup, so if you want to wait until then I can do it, PRs are welcomed though.

[2017-06-20 20:44] mattklein123 commented on #91
Can you describe a specific use case? I'm a little confused by this one.

[2017-06-20 20:54] 9len commented on #91
Certainly, and it may be that I just misunderstand how this is all wired up.

Imagine a single service, with multiple instances, each labeled with `version=<something>` (this part is handled in #81)

We'd like to initially route 100% of traffic to `version=v1` and then incrementally route traffic to `version=v2`.

So your `ForwardAction` looks something like:

[code]

Obviously you can also model

[2017-06-20 21:05] mattklein123 commented on #91
Whether we make N clusters, or internally inside the load balancer deal with N subsets, there really isn't that much of a difference from Envoy perspective in terms of resource requirements. I would argue that having N clusters is much simpler to understand for this use case.

I would like to hear from Istio people on this because they are already dealing with this and do the same thing. @louiscry

[2017-06-20 21:09] mattklein123 commented on #91
Note the general assumption regarding Envoy API at this point is that in complex deployments, config is machine generated. I'm not saying that means we shouldn't potentially move subsetting capabilities into the load balancer, but just pointing that out.

[2017-06-20 21:54] 9len commented on #91
Yeah we can definitely generate denormalized clusters to support this use-case, if that's the consensus. It really depends on how you want to generalize subsetting.

[2017-06-20 22:55] rshriram commented on #81
@mccv @mattklein123 Why would you want to cluster instances by label, in the router? For most common cases, you can handle that in the management plane, without the overhead of doing this at every router in the system.

[2017-06-20 22:59] mattklein123 commented on #81
@rshriram that is my general opinion, but I was hoping for a discussion. :)

[2017-06-20 23:05] rshriram commented on #91
The rule you described above is exactly what we have in Istio ( @9len ). We statically generate clusters. And as @mattklein123 says, there really isn't much of a overhead, whether its 100 or 2000 clusters (I have tested this). If anything, you get detailed stats. The config is loaded via *DS, so changes get propagated quickly as well.

I don't see much use for pushing management plane stuff down i

[2017-06-20 23:07] rshriram commented on #91
fwiw, you don't necessarily have to use Istio if you are not running on K8S. You could easily generate denormalized clusters, as you stated.

[2017-06-20 23:12] 9len commented on #81
(This response applies to both #81 and #91)

@rshriram I wouldn't say we feel _super_ strongly about this, it mostly reflects an aesthetic desire to (1) keep the configs relatively compact and readable, and (2) push common complexity lower in the stack.

As @mattklein123 points out in #91, (1) probably matters less and less as configs become more consistently machine-written.

As for (2), If we're

[2017-06-20 23:12] rshriram commented on #84
Do you want to pull certs or push them via out of band mechanisms?
I am not a security expect. So correct me if I am wrong. A compromised node with Envoy could fetch all certs, while with an out of band distribution mechanism, you could push certs as/when you wish.

@louiscryan ^^^

[2017-06-20 23:14] rshriram commented on #76
+1 as well

[2017-06-20 23:15] 9len commented on #91
I agree that it potentially complicates the load balancer, and that we can statically produce the necessary rules; my main concern is there being multiple implementors of the *DS APIs who potentially have to implement the same behavior to support what seems to me a common use-case.

Certainly we can live without this if the general consensus is that it overly/unnecessarily complicates the data pla

[2017-06-20 23:18] rshriram opened #92 "Allow incremental updates to configs (CDS/SDS/RDS)"
This might be a duplicate.

I have couple of use cases, where I have a very large number of envoy clusters in the config (order of 60K). The clusters change frequently. I wouldn't want to send the entire stuff over one giant CDS blob. It would be nice to support incremental config updates as only few hundred of these 60K clusters are expected to change per minute.

[2017-06-20 23:21] rshriram commented on #81
+1 for having the metadata be available for logging/reporting.

[2017-06-20 23:23] 9len commented on #81
Yes, having it at request time makes it much more straightforward to produce stats points dimentionalized by these labels. Otherwise you have to push the log lines through a system that can dereference the instances, which has some obvious race conditions.

[2017-06-20 23:24] 9len commented on #91
One other potential advantage to having this within Envoy is that you can produce a sufficiently detailed log-line to explain why a particular instance was selected. You can do this as a log consumer with access to richer data, but there are race conditions (eg cluster or route is removed before log line is processed)

[2017-06-21 03:21] tschroed commented on #76
PR #79 did this

[2017-06-21 03:21] #76 closed

[2017-06-21 04:43] mattklein123 commented on #91
In thinking about it more, let's just go ahead and add metadata here too (I assume it already exists at the primary route level, if not we need it there). It's a pretty straightforward and self contained problem to add a new load balancer implementation that can do internal subsetting based on label. I don't know that I would make this impl the default, but if people want to use it, it can be avai

[2017-06-21 12:22] rshriram commented on #91
On Wed, Jun 21, 2017 at 12:43 AM Matt Klein <notifications@github.com>
wrote:

You would need dynamic (at the time of forwarding) sub setting wouldn't you?

What happens if I split up a subset (of labels) into smaller sets and/or
merge them with other subsets? I could do this via RDS update. Correct me
if I am wrong, but this feels like you  would also need additional code to
handle things like re

[2017-06-21 13:56] htuch commented on #92
@rshriram Do you want to elaborate on your use case? We've discussed this offline, but I think we should go over it here FTR and see with @mattklein123 if this is really an expected use of the cluster mechanism. I'm not opposed to adding incremental updates, but all things being equal it seems better to avoid complexity if we don't need this extreme scale.

[2017-06-21 14:44] mattklein123 commented on #91
merge them with other subsets? I could do this via RDS update. Correct me
if I am wrong, but this feels like you  would also need additional code to
handle things like retries to non existent subsets in the lb pool.

No, it would happen in an eventually consistent way as all LB updates do today. It's very straightforward to write a LB that looks at host metadata and sets up subsets in some way tha

[2017-06-21 14:46] mattklein123 commented on #92
Historically my preference has been to not support incremental updates. If there is a real use case that isn't contrived we can discuss. I'm not sure that we want to do this by default though as I think it's harder for manager implementers. On the Envoy side in some ways eventually consistent is easier to implement because Envoy just assume the manager knows what it's doing as it sends add/update/

[2017-06-21 15:19] rshriram commented on #92
Oh, I thought it was a matter of leveraging the gRPC stuff, with watch notifications to subscribe for updates from the manager. If this is going to involve a ton of complexity, I would happily drop it.

The use case is as follows (simplified):
We have a sharded k-v store of some sorts (its not exactly a kv store, because there is a fair amount of computation involved per value, but just for discus

[2017-06-21 16:10] mattklein123 commented on #86
Nevermind I don't think I need this. Will reopen if I do.

[2017-06-21 16:10] #86 closed

[2017-06-21 17:48] 9len commented on #81
@htuch we probably won't get to this in the next week, so happy to fold it into whatever sweep you do. thanks!

[2017-06-22 20:58] htuch commented on #81
I think I'll go with `Metadata` here for the log/stats reasons above. `Metadata` is keyed by filter today, so I imagine we'd have a pseudo filter name for the LB, e.g. `envoy.lb` (and maybe real filter names if/when we have LB filters). Existing stats/logging mechanisms will be adapted to implement `Metadata` access in the near future, so this will work well there.

[2017-06-26 01:16] htuch opened #93 "Support multiple clusters for xDS server references"
Wherever we reference an xDS server by cluster, support a multiplicity. This is driven by https://github.com/lyft/envoy/issues/1170. @tschroed.

[2017-06-26 01:21] htuch commented on #92
@mattklein123 @rshriram Should this issue be closed out in favor of a LB filter API tracking issue in the main Envoy repo?

[2017-06-26 01:26] htuch commented on #84
It would be the responsibility of the KDS server to authenticate the Envoy instance. Certs could be provided via the same `Discovery{Request,Response}` subscription model we use today for the core xDS APIs. The Envoy APIs do not deal with session authentication models, this the responsibility instead of the gRPC transport. If it's TLS, this might be mTLS certificate exchange and validation.

This

[2017-06-26 01:39] htuch commented on #62
I'm going to close this out as it seems we have consensus and there is no immediate implication for the v2 APIs.

[2017-06-26 01:39] #62 closed

[2017-06-26 02:07] htuch commented on #89
@tschroed I'm trying to remember why we wanted the bug out here. It seems to me that bug out behavior would just result in a crash loop in the scenario where the management server has done the canary, thinks the new config is valid, starts serving it up and for some reasons a subset of Envoy's doesn't like it.

Is a crash loop preferable to having the management server receive a NACK? With a NACK,

[2017-06-26 13:46] htuch commented on #84
@dnoe

[2017-06-26 14:29] tschroed commented on #89
I believe the scenario in question was a proxy running a canary config that couldn't transition to a prod config for some reason. If that were ever to happen we'd want it to crash out.

In the event that the proxy is trying to transition from a prod config to any other config and cannot, it should just reject the update and continue as-is.

[2017-06-26 14:33] mattklein123 commented on #84
@htuch @dnoe @amb67 I have no theoretical objection to an API like this, but it will add a substantial amount of complexity to Envoy. Do we really need it? Could LDS manager proxy the cert info as long as security bootstrapping is in place for LDS?

[2017-06-26 17:03] htuch opened #95 "Add build version info to Node identity"
This is useful when canarying on a heterogeneous fleet of Envoy builds and provides understanding on which Envoy binaries are responding to config updates in various ways.

[2017-06-26 17:03] htuch commented on #95
@amb67

[2017-06-26 18:44] rshriram commented on #68
Do you want them to go to the same dest or the same set of dest servers? Because even HTTP doesn't support sending to the same dest based on the IP 5-tuple hash..

[2017-06-27 18:10] wattli commented on #84
To clarify, this KDS will provide cert/private key to Envoy as plain text? Is there a design? My concern is 1) private key over the wire is not secure 2) different models may have different cert/key provision mechanisms, this approach won't work if cert/key are not generated at a centralized place.

[2017-06-27 18:14] dnoe commented on #84
It would at minimum be encrypted by the RPC transport (ie, TLS in the case of open source gRPC).  Internally we may require an additional layer of encryption on top of that (TBD).  Design is not completed yet.

[2017-06-27 18:14] htuch commented on #84
This issue exists in LDS today regardless of KDS. I would like to understand why it is considered insecure to deliver a key over the wire here, given the underlying transport is encrypted and authenticated (e.g. mTLS). Can you elaborate on this?

BTW, LDS today and in the future can also consume the key from disk. The idea is to provide the option for those who would like certs to be delivered via

[2017-06-27 18:35] mattklein123 commented on #84
This is possible today via LDS and inline cert delivery. Why do we need complexity of KDS? And as @htuch says, security is same for both. mTLS bootstrap will be required.

[2017-06-27 18:38] htuch commented on #84
@mattklein123 It's really just an incremental improvement on LDS to allow independent services to provide each. For example, I might want to specify Listeners on disk, but fetch certs from a KMS.

[2017-06-27 18:55] mattklein123 commented on #84
Sure I get it, just pointing out that the actual implementation is not trivial with dynamically swapping out the ssl_context. (Maybe we implement by just changing the listener and using LDS API internally, not sure).

[2017-06-27 21:17] wattli commented on #84
Just checked with @htuch offline, seems it is an option of API to provide key/cert. And customers can have their implementations of the API or even different ways to distribute key/cert.

[2017-06-27 23:44] wattli commented on #84
I would actually advocate the KDS idea as long as it runs local instead of as a centralized place. Otherwise, as @mattklein123 mentioned, you would need to implement mTLS. However, mTLS requires that Envoy already has a cert/key pair, which imposes some circular-dependency here.

If KDS implements at local, then there is much less security concern. And we probably want to call it something else in

[2017-06-27 23:47] mattklein123 commented on #84
I think KDS can be generic so that it could work locally or over the net. The bootstrap process is kind of out of scope anyway. I still think we need to clarify how KDS and LDS actually interfact, what forces a reload, etc. For example, is KDS "fetch once" vs. polling when a listener gets updated? Or is it polling and itself can force a reload?

[2017-06-27 23:53] wattli commented on #84
Private key over the net generally considers as risky and the mTLS bootstrap can be complicated.

I think we need to provide guidelines for customers otherwise they will abuse.

A local KDS would make a lot of sense than the remote one.

[2017-06-28 13:28] dnoe commented on #84
I see no reason to artificially restrict KDS to local.  Different users of Envoy will have different requirements for certificate security and Envoy should be enabling a wide spectrum of different security models.  The questions that @mattklein123 has do need to be fleshed out. The way I envisioned it is the KDS is (optionally) referenced in an LDS response and the KDS request is sent in this case

[2017-06-28 14:22] mattklein123 commented on #84
I agree with @dnoe that there is no point in restricting it to local. I would prefer to not be in the business of telling folks how to setup their deployments. We can have warnings and guidelines in the documentation if we want.

re: how KDS would work, if it was "one shot" and happened only at LDS load time, that would be a lot simpler to implement.

[2017-06-28 14:28] htuch commented on #84
I agree, implementation wise this is simpler. The downside to having KDS pulls trigger from LDS pushes is that we re-couple LDS/KDS via the control dependency. Take the concrete example of key rotation. With KDS able to independently push a new key, there is no need to coordinate with LDS. If KDS and LDS are completely different services, this works well. If KDS is provided by a KMS-as-a-service p

[2017-06-28 14:56] #93 closed

[2017-06-28 14:58] #81 closed

[2017-06-28 14:58] #91 closed

[2017-06-28 15:03] mattklein123 commented on #84
Yes, agreed. Anyhow, anything can be implemented, it's just a matter of how complicated. As long as everyone is trying to keep this as simple as possible, if there is a real reason to do parallel polling / refresh between LDS and KDS we can work out the details later in terms of how it's actually implemented.

[2017-06-28 15:06] rshriram opened #98 "Ability to dynamically update service-cluster associated with Envoy"
In K8S, pods are late bound to services. i.e., when a pod starts up, it does not know the service to which it belongs to. It might take a few seconds before the API server can provide the definitive service associated with the pod. [Another case, is one where the service is started after the pods are started].

The service-cluster CLI argument to Envoy is used by the tracing subsystem to identify

[2017-06-28 15:11] htuch commented on #98
We may need this as well; essentially this is the ability to modify an Envoy instance's `Node` identifier after Envoy initialization.

[2017-06-28 17:12] wattli commented on #84
@mattklein123 , agreed we should clearly mention the warnings/guidelines in the document if we do not want to limit KDS to local.

@dnoe , *ideally* mTLS should be there for all remote xDS and this is especially true for KDS. If KDS is implemented remotely, Envoy would need a key/cert pair to enable mTLS, which means it requires Envoy to have a key/cert pair to get a key/cert pair.

[2017-06-29 20:09] htuch commented on #84
@wattli I think it's reasonable to separate the bootstrap client certificate from the serving certificate/key that it needs to manage traffic. The certs/keys can be managed independently, with different lifetimes and identities implied. E.g. multiple Envoys may manage traffic with a common cert but have their own client certs for mTLS xDS APIs. KDS is there only for the serving certs.

[2017-07-05 14:41] tschroed opened #100 "Make RouteConfiguration self-describing"
Per design discussions at Google, it seems useful for RouteConfiguration to know its name.

[2017-07-05 15:30] htuch commented on #100
Fixed in #101.

[2017-07-05 15:30] #100 closed

[2017-07-06 19:18] htuch opened #102 "Single ConfigSource per xDS API"
Since we don't do incremental updates, we expect each API refresh to provide the entire contents of an API's contents. E.g. RDS should have all routes. If we have independent ConfigSources for each route table, it's hard to see how this will work. So, we should probably move the server addressing aspect of ConfigSource for all xDS APIs into `bootstrap.proto`.

This is related, but not the same as

[2017-07-06 23:53] mattklein123 commented on #102
@htuch can you expand? I don't fully follow. As long as each RDS request has its identifier info, does it matter if they go to different places?

[2017-07-07 00:56] htuch commented on #102
The issue comes up when you want to coordinate LDS/RDS to ensure that the route tables are in place from RDS prior to the LDS update. The management server needs to push the route updates down to Envoy.

If there are multiple RDS streams open, which one does the server push on? If Envoy is using each stream as essentially a subscription on a single route table, what happens when it sees a new rout

[2017-07-07 15:13] mattklein123 commented on #102
I'm still a little confused. AFAICT a DiscoveryRequest contains a list of resource names, which in the case of RDS would probably be a single route table. So yeah if we didn't change anything I think there would be a stream per route table. I think by itself this works OK?

The server would only push updates for the resources requested, and the server knows what has been requested (in this case on

[2017-07-07 15:54] htuch commented on #102
1. Yes
2. I agree. The issue is not what we do with RDS resources that Envoy knows about, it's what happens when we want to push (rather than pull) the resource to Envoy from the management server. We plan on using the API in a stylized fashion that ensures all resources are available for a given API before its configs are pushed out.

[2017-07-07 16:13] mattklein123 commented on #102
For (1) I would recommend that we introduce a new `HttpRouteManager` construct in the code. This would be a server wide thing. Each HTTP connection manager can register with this thing to get route updates, then the manager can collect all of the requests into a single stream. (Note that that there are some questions about how this will work with LDS when new listeners come up). This is already ki

[2017-07-07 17:28] htuch commented on #102
SGTM on 1. For 2, I think this is a good idea. So, we would have ADS (Aggregated Discovery Service) that feeds 1 or more of the xDS APIs? This would also fix https://github.com/lyft/envoy/issues/1195. Should `ConfigSource` then gain an additional oneof to point at the aggregation service (or some similar protobuf change here)?

[2017-07-07 17:35] mattklein123 commented on #102
Yes I think we need to actually add a new proto API for ADS, and then the ConfigSource for other APIs would have to point to "aggregated" or something like that. The way you have the code it actually probably would not be that hard to implement. An aggregate subscription would go through the aggregator, which would make the call, then provide info back to the individual subscription within process

[2017-07-07 17:52] htuch commented on #102
SGTM. @rohitbhoj WDYT?

[2017-07-08 01:05] rohitbhoj commented on #102
Just to clarify my understanding, we are thinking of having a single proto message encapsulating all the xDS responses and then a single API (ADS) delivering it? That makes a lot of sense, it would simplify a lot of things on the management server side.

[2017-07-10 10:38] htuch commented on #102
@rohitbhoj Yes, that's the plan. We would still have the capability to have individual APIs, but also the option to bundle some subset of the APIs in updates.

[2017-07-10 10:55] htuch commented on #102
One thing that isn't clear to me is how we handle EDS. While LDS/RDS/CDS are artifacts of Envoy instance and service configuration, EDS might be sourced from a completely distinct source (e.g. backend load balancer) that updates with a different cadence to LDS/RDS/CDS.

So, we either need:

1. The ability to serve EDS independently, and push updates to Envoy that haven't been subscribed to yet, to

[2017-07-10 14:58] tschroed commented on #102
Number 2 seems like the best option. That leaves it up to the management server to determine what degree of atomicity is required.

Number 3 seems expensive, though it would be possible to at least take a hash across all of the updates to determine which ones have no delta.

[2017-07-10 15:07] htuch commented on #102
There's probably more complexity in (2), but not insurmountable, so we can go for that if this is the preferred way also for @rohitbhoj.

[2017-07-10 15:10] mattklein123 commented on #102
I think (1) was implied from what I was originally proposing, which is basically that any configuration of xDS can optionally have an "aggregated" config source and go through the aggregator, or not. So (1) should be possible I think without any additional work (theoretically).

As long as EDS is somehow part of the ADS API I think (2) should also work as long as the individual cluster configurati

[2017-07-10 15:14] htuch commented on #102
The same EDS cluster might first arrive via ADS (referenced by a CDS bundled up) and later via an independent subscription in (2). This requires Envoy to, after receiving the ADS update, establish an EDS channel for that cluster if it doesn't already exist. Things then get a bit weird. For example, the EDS channel might update EDS to a new version. Do we then resend the ADS request? Does the manag

[2017-07-10 15:18] mattklein123 commented on #102
Yeah that gets super ugly agreed. I think it might be worthwhile to try to do some kind of design review of the management server so we can talk through this? We can take that offline if needed.

[2017-07-11 01:28] rohitbhoj commented on #102
I would prefer always sending EDS independently(option 1). Even in option 2, the management server could choose to never send EDS as a part of ADS, thereby making it work just like in option 1.

[2017-07-11 20:42] htuch opened #104 "Support canary config check only mode"
After adding support for https://github.com/lyft/envoy-api/issues/89, Envoy is now aware of the canary status of an xDS response. Given this, it may be useful to a management server to be able to deliver a canary config, have Envoy determine if it can be applied, but not commit, only performing the dry run while maintaining its existing state.

@rohitbhoj @mattklein123

[2017-07-13 18:30] #63 closed

[2017-07-13 18:30] #95 closed

[2017-07-13 19:11] #89 closed

[2017-07-13 19:12] htuch commented on #104
Added canary field in #105.

[2017-07-13 19:12] #104 closed

[2017-07-13 19:13] htuch commented on #98
We decided we have no need for this. @rshriram @kyessenov do you folks have any need for this or should we close out?

[2017-07-14 00:31] mattklein123 commented on #98
I think generally my vote is to not support this and force the deployment system to figure out node info before actually launching Envoy. It will be non-trivial to implement this and seems not worth it to me.

[2017-07-14 02:32] rshriram commented on #98
If it's going to be invasive, it's not worth it. We can figure something
out in istio.
On Thu, Jul 13, 2017 at 8:31 PM Matt Klein <notifications@github.com> wrote:

--

~shriram

[2017-07-14 02:39] mattklein123 commented on #98
OK them I will close this out for now.

[2017-07-14 02:39] #98 closed

[2017-07-18 16:50] htuch opened #112 "Static vs. dynamic configuration"
Today in Envoy, there is a strong delineation between static and dynamic resources. Resources that don't explicitly mention xDS or are specified in the filesystem JSON config are static, the only dynamic resources are delivered by xDS API calls.

In the current notion of `ConfigSource` in the v2 APIs, all resources other than `bootstrap.proto` are dynamic. Even filesystem JSON will be watched via

[2017-07-18 16:54] htuch commented on #112
We should probably also updates Principles in README.md to reflect what the plan is here.

[2017-07-20 15:19] htuch commented on #92
Closing out for now. From time-to-time, incremental API updates do come up in discussions I've been involved in, but we don't have sufficient justification yet for this. Feel free to reopen if there is further to say on this.

[2017-07-20 15:19] #92 closed

[2017-07-20 15:30] htuch commented on #69
Implementation work tracked at https://github.com/lyft/envoy/issues/1295.

[2017-07-23 20:40] #69 closed

[2017-07-27 17:22] #102 closed

[2017-08-03 14:49] htuch opened #127 "Support single file delivery of static config"
In the current model, all configuration must arrive as bootstrap proto + xDS protos (or JSON equivalents). This simplifies implementation, as we have a single bootstrap file which then points at multiple resources on the filesystem that get consumed in an analogous way to gRPC or REST delivery of the resources.

This implies multiple files even for a simple static deployment. We should scope out w

[2017-08-07 05:01] mattklein123 commented on #127
Per some other tickets, I think all we want to do here IMO is basically add "bootstrap listeners" just like we have "bootstrap clusters." I think this will pretty trivially get us parity with what we have now.

[2017-08-16 15:22] htuch commented on #64
This has been done during the v1 JSON -> proto translation work, so closing.

[2017-08-16 15:22] #64 closed

[2017-08-23 19:33] htuch commented on #127
Fixed in #156.

[2017-08-23 19:33] #127 closed

[2017-08-23 20:48] junr03 opened #158 "Define protos for envoy admin endpoint output"
this needs to be done in order to work on https://github.com/lyft/envoy/issues/1522

[2017-10-16 15:25] rshriram opened #193 "Tracking: Divergence between V2 and V1 (docs/apis)"
This is an issue to track the list of missing specs in the V2 API (envoyproxy/data-plane-api) repo. There are a few filters yet to be added to that repo.
In addition, there are divergences in the docs between whats there in V2 and V1 (https://envoyproxy.github.io/envoy/index.html).

cc-ing people who have contributed code to Envoy recently (apologize if I missed folks). Please take a look at V2 (h

[2017-10-16 15:53] mattklein123 commented on #193
Thanks a ton @rshriram for doing this. It might actually be worth it to just do code inspection in the main repo for all data-plane-api SHA updates and see if there are missing docs that way. Then we can list them out here.

[2017-10-17 00:42] codesuki commented on #193
The CORS filter I added is included:
https://github.com/envoyproxy/data-plane-api/blob/master/api/rds.proto#L105
https://envoyproxy.github.io/envoy/configuration/http_filters/cors_filter.html

[2017-10-17 01:39] rshriram commented on #193
@codesuki I don't see the filter definition. I only see the definition of the CORS option inside the route block.

[2017-10-17 03:37] htuch commented on #193
Note that the main place that divergence between v2 protos and v1 APIs that still exists will be the filters. The non-opaque config is already converted internally into v2 protos, so there must by construction exist a v2 equivalent for the bulk of config.

[2017-10-17 04:25] codesuki commented on #193
Oh sorry, now I noticed the filter folder. I'll send a pull request soon!

[2017-10-19 01:19] misterwilliam opened #197 "Will DiscoveryReponse.resources support UNIX domain sockets?"
I've noticed that in the v1 version of the service discovery protocol the upstream hosts had to specified by IP address. I would like to be able to use Envoy to reverse proxy in front of endpoints without IP addresses which are only addressable by a UNIX domain socket.

I noticed that the DiscoveryResponse.resources is currently a protobuf.Any? Will I be able to specify a UNIX domain socket addres

[2017-10-19 01:46] moderation commented on #197
Might be related to https://github.com/envoyproxy/envoy/issues/1605

[2017-10-19 03:14] davecheney opened #198 "How does a management server indicate a resource is removed"
Hello,

The XDS_PROTOCOL.md document goes into great detail about how a resource is queried from a management server, and how a resource is updated. But I cannot find the protocol for the management server informing Envoy that a resource has been removed.

Can you please point me to a description of how the deletion process works.

Thank you

[2017-10-19 03:43] mattklein123 commented on #198
@davecheney this works the same way as in v1. There is no incremental support yet in the APIs. For example, a CDS response sends back all the clusters, and Envoy will reconcile it. Same for EDS sending back all the hosts, etc.

[2017-10-19 03:48] mattklein123 commented on #197
Yes the v2 API supports a generic address for upstream hosts: https://github.com/envoyproxy/data-plane-api/blob/master/api/address.proto#L43 (Endpoint is a wrapper around an Address)

[2017-10-19 03:48] mattklein123 commented on #84
I think this is done. We have defined SDS.

[2017-10-19 03:48] #84 closed

[2017-10-19 03:49] mattklein123 commented on #112
@htuch this is done right? We can now specify static resources in bootstrap?

[2017-10-19 03:50] davecheney commented on #198
Thanks for your reply, sorry I wasn’t precise in my question.

Fetch works as you describe.

How does removal of a resource work in the Stream api?

[2017-10-19 03:59] mattklein123 commented on #198
Every response: https://github.com/envoyproxy/data-plane-api/blob/master/api/discovery.proto#L55

Is basically a repeated list of resources. So an EDS response is a list of hosts, a CDS response is a list of clusters.

Every time the management server replies on the stream, it should include *all* the things (e.g., all hosts for the requested EDS cluster, all clusters for a CDS response). Envoy wi

[2017-10-19 04:02] davecheney commented on #198
Ooooooh! Now I understand, it’s server push of the entire Fetch response body.

Got it! Thank you.

Closes #198

[2017-10-19 04:04] mattklein123 commented on #198
I'm going to leave this open for @htuch to help w/ docs.

[2017-10-19 04:30] htuch commented on #197
AFAIK, it should "just work" based on existing support for UDS to endpoints. Has anyone validated this?

[2017-10-19 13:57] htuch commented on #112
Yes, crushed it.

[2017-10-19 13:57] #112 closed

[2017-10-19 18:57] rshriram opened #200 "[RFC] xDS library for control planes."
Several folks have a need for a generic API server that implements CDS/LDS/RDS/SDS. However, due to the variety of platforms out there, there is no single implementation that can satisfy everyone's needs.

So, I propose the following:

1. A gRPC based API server that implements the xDS API (esp ADS) and is responsible for talking to Envoys. This code can live as a re-usable library (similar to Gor

[2017-10-19 18:59] rshriram commented on #200
cc @kyessenov @junr03 @bndw @htuch @mattklein123

[2017-10-19 20:43] htuch commented on #200
I think a policy-free option 1 is the low hanging fruit. Let's build this and then circle back once we have some integration tests with the Envoy xDS implementation.

[2017-10-19 21:20] mattklein123 commented on #200
Agree with @htuch. Let's just start a new repo. Any preferences on name? I can create it. We can start with @kyessenov @rshriram @junr03 as committers of the project?

[2017-10-19 22:28] bndw commented on #200
sgtm, I'm happy to fork/pr contributions 😄

[2017-10-20 03:51] rshriram commented on #200
apiserver, yacp (yet another control plane), ecp (envoy control plane), xocp (extra ordinary ..), cobol (common base object layer), ..

[2017-10-20 03:59] htuch commented on #200
As much as I really really like cobol, I think envoy-control-plane might be
more descriptive 😀
On Thu, Oct 19, 2017 at 10:51 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-10-20 04:15] rshriram commented on #200
I chose short names to make it easy to be imported as go package. envoyproxy/envoy-control-plane is a looong package name. But I guess it works. dunno why people hate cobal ;)

[2017-10-20 04:19] rshriram commented on #200
how about we just call it as control-plane ? envoyproxy/control-plane

[2017-10-20 16:14] mattklein123 commented on #200
envoyproxy/control-plane SGTM to me. Is that OK with everyone? If so I can setup the repo. We can start opening issues there on what needs to be done.

[2017-10-20 16:53] junr03 commented on #200
As I said in yesterday's meeting. I think #1 is what can bring the most benefit to the community faster.

Also to state what I said yesterday in the meeting. I think that #3 has the potential to create a mess. I believe that if, and when this project gets to the "translation" layer, we should strive to not have an intermediary model. In my opinion the data-plane-api already provides that model, an

[2017-10-20 17:48] kyessenov commented on #200
An explicit and boring name is appropriate for this I think. We can always brand it with a creative name but it's much harder to re-brand a bad name.

[2017-10-21 01:17] htuch opened #203 "Documentation for minimal xDS v2 gRPC config"
Right now, we only have some integration test configs, which are mostly centered around ADS or filesystem watching xDS, see https://github.com/envoyproxy/envoy/blob/master/test/config/integration/server_xds.bootstrap.yaml and https://github.com/envoyproxy/envoy/blob/master/test/config/integration/server_ads.yaml.

We should do a proper RST or MD doc walking users through putting together a basic x

[2017-10-21 17:13] mattklein123 commented on #203
@htuch I have a very strong preference for doing the docs as part of the main sphinx doc build. It's much easier for people to consume and sphinx is monumentally better due to cross linking, etc.

Here is what I suggest:

- Rename https://envoyproxy.github.io/envoy/configuration/configuration.html to "v1 configuration reference."
- Create a new "v2 configuration reference section"
- The above sect

[2017-10-25 23:38] kyessenov opened #208 "Virtual listener update through xDS v2"
In version 1 of the API, we had the ability to redirect to a different listener using `use_original_dst` setting. That allows us to drain and update each virtual listener independently from one another.

In version 2, this got changed to a series of filter chains under one listener. That means a virtual listener becomes a filter chain, so a change in _any_ virtual listener triggers a change in the

[2017-10-26 07:50] ramaraochavali opened #209 "Metrics Service API"
A data-plane-api to get metrics/stats would be a good value-add so that control plane make use of it get the stats out of proxy.

Relevant discussion [here]( https://groups.google.com/forum/#!topic/envoy-users/Ic18dq25m5o)

[2017-10-26 15:20] mattklein123 commented on #208
Interesting. I don't see any technical reason we can't retain the old `use_original_dst` forwarding behavior also if that would be helpful.

[2017-10-26 15:23] htuch commented on #208
This points to a more interesting question; why can't we make filter chain updates without drains at all? Currently, listeners are immutable, but really the only state that needs to be immutable is the socket binding aspect, the filter config is instantiated fresh on each request/connection, so can't we modify the listener manager implementation here to allow updates of filter config without drain

[2017-10-26 15:23] htuch commented on #208
@mattklein123 I'm not sure how the `use_original_dst` figures into this, can you elaborate?

[2017-10-26 15:29] mattklein123 commented on #208
See @kyessenov comment above. That's the mechanism we use today in Istio to do listener routing. This allows a single listener to be added/removed without effecting all the others.

Anything is possible. I would need to look at the code to see how difficult it would be. Immutability makes things substantially easier to reason about. IMO we need to pause discussion on this until we see the SNI/mult

[2017-10-26 19:38] PiotrSikora commented on #208
@htuch in v1 `bind_to_port: false` creates "virtual" listeners that aren't bound to any port and cannot be directly connected to; connections to listeners with `use_original_dst: true` can be redirected to any listener based on the original destination address (i.e. before iptables redirection), including those "virtual" listeners. In fact, combination of both flags is the only way clients can con

[2017-10-26 19:49] mattklein123 commented on #208
FWIW my opinion is to just add back the ability to forward between listeners using original_dst in v2. We can do lots of things in terms of making listeners not immutable, etc., but it's a heavy lift and I'm not sure it's worth it right now.

[2017-10-26 19:59] htuch commented on #208
@mattklein123 this seems a hack if we can do mutable listeners reasonably, the whole reason we added filter chains was to avoid the `use_original_dst` stuff and simplify the listener model. Since filters stacks are instantiated on new connection/request, why should it be problematic to make their config mutable?

[2017-10-26 20:14] mattklein123 commented on #208
As I said before, anything is possible. In the current implementation, listeners are immutable and global, and used by all workers at the same time. If we make them mutable in place, it will require locking or a much more complicated set of data structures that are both global and per worker. Then of course there is all the logic around what is immutable and what is not, etc. It will get very comp

[2017-10-26 20:16] kyessenov commented on #208
Can we allow multiple listeners that "bind" to the same address given that filter chains do not have to overlap? We'd need some ordering principle between listeners.

[2017-10-26 20:16] htuch commented on #208
When do we need drainless listeners? We know we will want this for non-Istio Google stuff, so we could probably take on the work, but it will likely be Q1/Q2 2018.

[2017-10-26 20:21] mattklein123 commented on #208
@kyessenov not following, can you rephrase?

[2017-10-26 20:24] kyessenov commented on #208
The suggestion is to allow two listeners on the same address. Each listener has a filter chain that uses `use_original_dst`. Connections are matched against both listeners by looking at the original dst address. This way there should be no overlap in practice between the two listeners. Both listeners are still drained in isolation.

[2017-10-26 20:31] mattklein123 commented on #208
@kyessenov that is what we do effectively today in v1, correct? Yes that's why I'm proposing we allow the current v1 behavior. I think it's a bit of a stretch to call it a "hack" but I recognize it is not perfect. :)

[2017-10-26 20:39] htuch commented on #208
OK, @mattklein123 has persuaded me via proof-by-SWAG that v1 behavior makes sense if you want this soon. Otherwise, you can wait and we can do this next year.

[2017-10-26 21:53] PiotrSikora commented on #208
@htuch the point is not that the code cannot be changed to make listeners drainless, but that update to any of the filter chains requires pushing new `Listener` configuration via LDS, along with all its filter chains in order to update/remove any of the existing filter chains, and figuring out which of the filter chains need to be re-created. Since we're using `Struct`, the configs are not guarant

[2017-10-26 22:20] mattklein123 commented on #208
I think we are now in agreement that we should support this in the v2 API (in addition to the multiple filter stacks per listener option).

[2017-10-27 12:56] htuch commented on #208
@mattklein123 Agreed.

@PiotrSikora The `Struct` aspect of this is a [furphy|https://en.wikipedia.org/wiki/Furphy]. Once the filter chain config is transformed into Envoy's internal representation, it has a canonical, hashable form, so can be easily compared. Same would be true for an `Any` representation.

[2017-11-01 17:55] mattklein123 commented on #59
I think this is done. We have metadata in the AccessLogEntry struct. I will be wiring this up.

[2017-11-01 17:55] #59 closed

[2017-11-01 17:55] mattklein123 commented on #200
Closing this work is ongoing.

[2017-11-01 17:55] #200 closed

[2017-11-10 22:01] junr03 opened #231 "metrics service: import for metric.proto in metrics_service.proto does not work outside bazel"
The [import path](https://github.com/envoyproxy/data-plane-api/blob/master/api/metrics_service.proto#L8) for the prom metrics.proto file works in data-plane-api thanks to bazel. However, when compiling the protos outside of bazel, e.g naked protoc, the relative import breaks.

[2017-11-10 22:02] junr03 commented on #231
@ramaraochavali can you take a look?

[2017-11-11 05:41] ramaraochavali commented on #231
@junr03 sure. can you please let me know how you are trying? Will try to reproduce

[2017-11-12 19:15] mattklein123 commented on #209
This is done

[2017-11-12 19:15] #209 closed

[2017-11-14 05:35] ramaraochavali opened #240 "checkRequest API on Mixer"
Are there plans to add the current `checkRequest` api that Mixer exposes for proxy to the data-plane-api standard?

[2017-11-16 08:29] chipitsine opened #247 "readme link is 404"
https://envoyproxy.github.io/envoy/configuration/cluster_manager/sds_api.html  (found in readme) is 404

[2017-11-17 05:07] jared2501 opened #250 "Publish proto definitions somewhere"
I'd like to start picking the proto definitions up so that I can implement in Java. This would be much easier to do if they were published.

I had a look around this repository and I far as I could tell the proto definitions were not published anywhere yet.

[2017-11-17 05:24] jared2501 commented on #250
Am happy to look into contributing this!

[2017-11-17 05:32] mattklein123 commented on #250
@jared2501 where would you expect them to be published? Most people consider GH the place they are published and include them by SHA.

[2017-11-17 05:38] jared2501 commented on #250
Hmm as a Java developer I expect most things to be published to a maven repository. In the case of proto definitions, the [protobuf-gradle-plugin](https://github.com/google/protobuf-gradle-plugin#protos-in-dependencies) allows you to include a tarball of protobufs in your build, so a tarball stored in a maven repository would suit me quite well!

We prefer maven artefacts for our build since we ca

[2017-11-17 05:43] mattklein123 commented on #250
I see. If you can figure out how to wire Maven, etc. up to our CircleCI so that it publishes on master commit please go wild. :)

[2017-11-17 05:47] jared2501 commented on #250
Awesome! We use [bintray](https://bintray.com/) for our open source projects, so will look into wiring everything up assuming this is a acceptable option for hosting. Let me know if otherwise.

[2017-11-17 15:00] ramaraochavali commented on #240
@mattklein123 what do you think about this?

[2017-11-17 15:20] htuch commented on #240
@ramaraochavali is this covered by https://github.com/envoyproxy/data-plane-api/pull/222?

[2017-11-17 15:40] ramaraochavali commented on #240
@htuch  looks like it takes of AuthN & Z aspects only. How about request quotas which is also part of checkRequest.

[2017-11-17 18:02] mattklein123 commented on #250
@jared2501 I don't know much of anything about maven or bintray. Will this be a public place that other Java/Maven users can pull from? If so, SGTM.

[2017-11-17 18:09] jared2501 commented on #250
Yup - they will be able to.

[2017-11-17 18:37] mattklein123 opened #252 "ci: add check/fix format"
Especially for buildifier like we do in envoy repo

[2017-11-17 19:51] spikecurtis commented on #240
The goal is eventually to incorporate all the Mixer features including quotas, but authz is the current focus of #222

[2017-11-17 20:43] mattklein123 commented on #240
I spoke to @mandarjog about this earlier in the week. Ultimately, we need to see how things evolve in terms of multiple APIs vs. unification. I think we share most of the same underlying messages though.

[2017-11-18 05:03] ramaraochavali commented on #240
@mattklein123 Thanks. Great. Will watch out for that.

[2017-11-20 23:57] lizan opened #257 "//test/build:build_test running forever on macOS"
On macOS, `bazel test //test/build:build_test` results:
[code]

Environment:

bazel version
[code]

clang --version
[code]

[2017-11-22 05:07] mattklein123 commented on #247
This is fixed with the recent README reorg.

[2017-11-22 05:07] #247 closed

[2017-11-23 06:34] ramaraochavali commented on #231
@junr03 I tried building protos outside of Bazel, specifically with maven protobuf plugin for java by placing `metrics.proto` at the same level as api  and was able to build it.

[2017-11-23 23:40] junr03 commented on #231
I built with protoc for golang. It gives a relative path instead of the absolute package path.

[2017-11-24 16:24] objectiser opened #265 "Configuration for creating internal span per filter"
Related to https://github.com/envoyproxy/envoy/issues/2081

As described in the referenced issue, we want to be able to create an internal span per HTTP filter, to provide a finer grained level of tracing - although it should be optional to avoid creating unnecessary spans when not required.

Wondering whether we should simply add a 'traced' boolean in the HttpFilter message in https://github.com/

[2017-11-26 00:35] mattklein123 commented on #265
@objectiser I'm actually kind of wondering if we need the config option at all at the global level per filter. I think in the connection manager, we can detect if a filter creates a span. If a filter creates a span, we can than do a delayed creation of the owning span.

In the router filter, I think we should keep the option that we have to allow the user to decide whether to create an owning spac

[2017-11-26 00:37] mattklein123 commented on #257
@lizan I'm assigning this to you as I know you can debug it. ;)

[2017-11-26 23:15] htuch opened #270 "Finer grained package namespaces for v2 APIs"
Today, we have all the core xDS APIs, e.g. RDS, LDS, CDS, etc. sharing the `envoy.api.v2` package namespace. Similarly, all network and HTTP filters share common namespaces, e.g. `envoy.api.v2.filter.http`. We should make this finer grained (down to the individual proto level) to support scaling of the APIs, as we will start to see conflicts as we scale.

[2017-11-27 02:19] davecheney commented on #270
Can you give some examples where conflicts had to be resolved with unfortunate names?

[2017-11-27 03:11] htuch commented on #270
@davecheney I think #47 is an example. I don't think this has been a huge problem to date, but as we grow filters it's going to be a pain at some point.

[2017-11-27 03:19] davecheney commented on #270
Thanks for the example. I agree that this hasn't been a problem to date.

On Mon, Nov 27, 2017 at 2:11 PM, htuch <notifications@github.com> wrote:

[2017-11-27 03:48] htuch commented on #270
Another example is #165. All things being equal, I rather not introduce a change that causes churn in code for management servers, so we can leave this issue open a little bit to get input from folks on the tradeoff here before acting. I think if we are going to do it, definitely before 1.5 when these APIs become "official" makes sense.

[2017-11-27 04:16] mattklein123 commented on #270
I agree we can see what people think. My concern is mainly that this will become painful later and it will be much harder and more impactful to cleanup then. I don't think it's painful now. We can also choose to just leave it as is and add additional namespaces only for new things that conflict.

[2017-11-27 04:54] mattklein123 commented on #270
The most egregious one I see right now is access log: https://www.envoyproxy.io/docs/envoy/latest/api-v2/filter/filter. At minimum I suggest we put this file in its own namespace so we don't have something like `filter.AndFilter` which is pretty confusing.

[2017-11-27 12:19] objectiser commented on #265
@mattklein123 Just to make sure I understand:
* Each filter will be responsible for making its own decision whether it wants to create a span (e.g. based on explicit filter specific config, or implicit decision such as retry policy,etc)
* If a filter wants to create a span, it will request the parent span from the connection manager. If it doesn't already exist, then it will be created before bein

[2017-11-27 17:26] mattklein123 commented on #265
A filter asking for a parent span from the connection manager already exists:
https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/filter.h#L135

This code obviously assumes that the span has already been created. We could effectively make this "create on initial request", so that any time a filter asks for a parent span, either to add tags, or to create a child, it would be created.

[2017-11-27 21:05] objectiser commented on #265
Yes that would hopefully work.

So really this issue can be closed - and only individual PRs created for specific filter configs when an explicit property (i.e. `start_child_span`) needs to be defined?

[2017-11-27 22:49] goaway commented on #265
One question I have about creating parent spans on demand is what time range would we want that span to actually capture? I think the way things are set up right now, it would simply start at whenever we asked for it (if we were creating it) which doesn't seem like it would be particularly meaningful.

We could in theory provide a different starting time to the newly-created parent, but we'd have

[2017-11-28 00:17] mattklein123 commented on #265
@objectiser yeah I think we can close this issue as we don't need any API changes. The router has an option already and the RL filter always attempts to create a span. I still have some questions about how the spans are going to work in all the different permutations, but I think we can cover that in the PR in the main repo. We also need to think about @goaway comment as that is a very good point.

[2017-11-28 08:56] objectiser commented on #265
@mattklein123 @goaway Yes good question - we should discuss on the other PR.

[2017-11-28 08:56] #265 closed

[2017-11-30 21:38] #252 closed

[2017-12-01 02:31] mattklein123 commented on #193
Calling this done.

[2017-12-01 02:31] #193 closed

[2017-12-01 02:31] mattklein123 commented on #198
Calling this done. Please let us know if the new docs are not sufficient.

[2017-12-01 02:31] #198 closed

[2017-12-01 02:32] mattklein123 commented on #197
Calling this done. Please let us know if the new docs are not sufficient.

[2017-12-01 02:32] #197 closed

[2017-12-01 02:32] mattklein123 commented on #270
Not seeing a lot of eagerness to do more moves and I already did access log, so I'm going to call this done and we can see how things go moving forward.

[2017-12-01 02:32] #270 closed

[2017-12-01 02:59] mattklein123 commented on #193
@codesuki nope all good. We got it.

[2017-12-01 03:01] gsagula commented on #193
I assume that we will still be able to define proto for new filters. I didn’t have a clear view of what the specs for the gzip filter would look like when @rshriram created the issue. I’m planning to convert it to V2 in a follow-up PR.

[2017-12-01 03:03] mattklein123 commented on #193
@gsagula yes before we ship your gzip filter it will need v2 config. I haven't looked at that PR yet but if there is configuration, you should go ahead and add a proto for it.

[2017-12-01 03:31] gsagula commented on #193
Thanks @mattklein123, I will do it.

[2017-12-01 08:05] codesuki commented on #193
Thanks and sorry again I am drowning in work recently. I hope I can contribute to this awesome project in the future again :)

[2017-12-02 01:59] junr03 opened #311 "Use validate tags to auto generate markup"
It would be nice to leverage protoc-gen-validate tags to autogenerate markup about field constraints.

For instance for https://github.com/envoyproxy/data-plane-api/blob/2f7459baf7c95cf7e634f848948a022c4b16fa79/api/eds.proto#L94 it would be nice to add a note that mentioned the constraint.

[2017-12-02 19:29] mattklein123 commented on #311
We already do this for some things like REQUIRED. Should be not hard to do for others. See the python script.

[2017-12-03 15:54] wora commented on #240
The current Mixer API actually is a client-server protocol. It is too complicated to use without a client library. We cannot adopt it directly into Envoy.

On the other hand, we have done similar design at Google for external services, including most GCP APIs. After many years of operating experience, I think all check functionality can be expressed as:

[code]

If we can agree on a simple way to

[2017-12-12 23:01] kyessenov commented on #231
You need to use importmap for this actually. Here's how I did it:
https://github.com/envoyproxy/go-control-plane/pull/25/files#diff-7595ae41d76c9b0d2f11a63663f99151R52

[2017-12-15 08:49] dio opened #347 "The default value for `dns_lookup_family` of v2 is `AUTO`?"
Seems like the default value for `dns_lookup_family` is `AUTO` as mentioned in [here](https://www.envoyproxy.io/docs/envoy/latest/api-v2/cds.proto.html#envoy-api-enum-cluster-dnslookupfamily). However, this line: https://github.com/envoyproxy/data-plane-api/blob/master/api/cds.proto#L213 states the default value is `V4_ONLY`.

[2017-12-15 17:18] mattklein123 commented on #347
Thanks for reporting @dio. I think this is a bug/difference between v1 and v2. From looking at the code it seems that when not defined v1 defaults to V4_ONLY and v2 defaults to AUTO.

@htuch do you remember any history here?

[2017-12-15 22:14] dio commented on #347
Hi @mattklein123, despite the fact that v2 has `AUTO` as its default, this line https://github.com/envoyproxy/envoy/blob/be01fc2a8ea04fba1b67fce61d189c19f56e0bf3/source/common/config/cds_json.cc#L168 should set it as `V4_ONLY` if not defined? (Sorry for my lack of understanding)

[2017-12-15 22:20] mattklein123 commented on #347
The code you reference is v1 getting converted to v2. In that case, v4 will be the default. However, in a pure v2 config, auto will be the default if not set. That's the discrepancy.

[2017-12-18 17:55] mattklein123 opened #351 "emit docs for APIs"
Start with the access log APIs.

[2017-12-19 21:01] kyessenov opened #354 "Import loop in go generated protos"
`rds.proto` depends on `auth.proto` which itself depends on `sds.proto`.
In golang, `rds.proto` and `sds.proto` end up in the same package, which creates an import loop.
Can we please fix this?

cc @mandarjog

[2017-12-19 21:37] kyessenov commented on #354
cc @mattklein123 , @htuch
Are we OK moving `auth.proto` back up one level?

[2017-12-19 22:23] #354 closed

[2017-12-27 23:47] wora opened #367 "Please move AttributeContext to its own file"
The `AttributeContext` is currently defined in the auth.proto. The actual definition of AttributeContext is not specific to auth. It would be better to be in its own file, such as attribute.proto, so it can be used by other code without pulling in authz interface.

[2017-12-28 00:44] wora opened #368 "Use plural name for repeated field"
https://github.com/envoyproxy/data-plane-api/blob/master/api/auth.proto

In this file, most repeated fields use plural names except the last one "repeated Rule rule". Please fix it.

In general, I recommend we use Google API Design Guide for this kind of details. This guide was created for gRPC APIs, and has been battle tested by hundreds of Google products.

[2017-12-28 00:47] mattklein123 commented on #368
@wora please open PRs and fix issues. Thanks!

[2017-12-28 00:47] mattklein123 commented on #367
@wora please open PRs and fix issues. Thanks!

[2017-12-28 06:30] wora opened #369 "Please revise PR 320 to use oneof (value, regex)"
This is a copy of my PR comment for 320. It is a general API design pattern that developers are often unaware of.

====

I highly recommend we change the design pattern from (string, BoolValue) to oneof(string value, string regex).

The current design has serious usability issues:
- Every read and write has to look at two fields. It is both inconvenient and error prone.
- BoolValue is called dead-

[2017-12-28 11:00] htuch commented on #369
@wora I agree with your points, thanks for raising them.

In terms of usability, there is also the consideration of API consistency that we should value. In #320, we were aiming for the same pattern as the existing API for route path matches (https://github.com/envoyproxy/data-plane-api/blob/28d28198e583aec75b6242ee02682654197b745e/api/rds.proto#L236). This part of RDS is frozen.

If we were desig

[2017-12-28 11:06] htuch commented on #347
I think that in general, AUTO behavior is what folks will be expecting by default, despite v1 behavior. The v1 v4 default behavior was there as a legacy thing, to preserve the pre-IPv6 behavior of Envoy. Now that we are long past that transition, having AUTO as default makes sense IMHO.

@hennna might also remember some history here.

Maybe we should just fix the docs to match implementation?

[2017-12-28 12:20] SephVelut opened #370 "Generating the protobuf files"
How can I generate the proto files to use in a grpc server?

`protoc -I=$GOPATH/src -I=/somepath/data-plane-api/api -I=$GOPATH/src/github.com/lyft/protoc-gen-validate --plugin=protoc-gen-validate=$GOPATH/bin/protoc-gen-validate --go_out=":../generated" *.proto`

`auth.proto: Import "api/sds.proto" was not found or had errors.
auth.proto:34:5: "CertificateValidationContext" is not defined.`

[2017-12-28 17:05] wora commented on #369
The RDS API uses `oneof`. If we use `oneof` for #320, we would have more consistency. Right?

[2017-12-28 18:49] htuch commented on #369
Doh, you are right @wora. We should do this!

[2017-12-28 19:18] htuch commented on #369
@wora @brian-pane can one of you volunteer to make the changes?

[2017-12-28 19:18] brian-pane commented on #369
@htuch @wora the existing RDS API uses the convention of a boolean flag for regex:
https://github.com/envoyproxy/data-plane-api/blob/master/api/rds.proto#L811

One of the code reviewers on #320 recommended that the new proto for query arg matching reuse the same spec as the header matcher:
https://github.com/envoyproxy/data-plane-api/pull/320#pullrequestreview-81028341

If you make a new PR to add

[2017-12-28 19:24] htuch commented on #369
@brian-pane Ah, right, that's why I was thinking consistency... It looks like we've been a bit inconsistent with the existing RDS; in some places (the path match) we use `oneof`, in others (header match) we are using a `bool` for regex. So the "be consistent with existing API" argument can go both ways here.

I guess the question is at what point do we consider new features to the APIs to be froze

[2017-12-28 19:26] htuch commented on #370
@kyessenov for the best practice here, I believe https://github.com/envoyproxy/go-control-plane is hand generating protos like this.

[2017-12-28 20:02] wora commented on #369
I think we have other inconsistency, such as XxxMatcher vs XxxMatch,
repeated allowed_origin vs repeated headers (singular vs plural).
Obviously, it is too late to change the existing API.

I think Envoy community needs to choose a long term direction for API
consistency and stick with it.

[2017-12-28 20:06] htuch commented on #369
A STYLE.md is probably a good start. This is just a coding standard after
all.
On Fri, Dec 29, 2017 at 7:02 AM Hong Zhang <notifications@github.com> wrote:

[2017-12-28 20:33] misterwilliam opened #373 "Generate Go bazel rules from api_proto_library"
Generate go_proto_library and go_grpc_library bazel rules automatically from api_proto_library.

## Current blockers

1. For Go, when a proto that imports another protos, the Go bazel rule will have to depend the go_proto_library not the proto_library so we will need a naming convention for go_proto_library to automatically generate the correct go_proto_library from the proto_library name.

2. It

[2017-12-28 20:42] wora commented on #369
Can I recommend to use Google API Design Guide as baseline, and add Envoy
specifics to Envoy/STYLE.md? The Google API Design Guide has been battle
tested in last four years, and it was done by the same authors as proto3
and gRPC, and have natural consistency with proto3 and gRPC specs.

[2017-12-28 20:45] htuch commented on #370
See also #340 and #373 for the Bazel approach to building the Go proto stubs.

[2017-12-28 20:52] htuch commented on #369
Yeah, that is a good starting point. However, a lot of the Google API design guide is about RPC design, which isn't the first order problem we have (we're not planning on changing xDS discovery/response). We need just the proto style bits, e.g. https://cloud.google.com/apis/design/proto3. I'm not seeing the nuances such as the points you make at the beginning of this thread or in some of the other

[2017-12-29 01:25] mattklein123 commented on #347
@htuch I think AUTO is fine as the default in v2. Can we fix the docs as you suggest?

[2017-12-29 01:26] htuch commented on #347
Will do.
On Fri, Dec 29, 2017 at 12:25 PM Matt Klein <notifications@github.com>
wrote:

[2017-12-29 02:34] #347 closed

[2017-12-31 00:11] misterwilliam opened #377 "Go proto bazel rules don't work when used remotely"
I don't think there needs to be any action done in this repository. I think the problem is with the the bazel Go build rules and I filed this issue with them:
https://github.com/bazelbuild/rules_go/issues/1193

I think the problem is that the Go bazel build rules are not calling the proto compiler with the right arguments for the import mappings.

This is just more of an FYI and to track this issu

[2018-01-02 22:03] misterwilliam commented on #377
I've verified that this issue is fixed by https://github.com/bazelbuild/rules_go/pull/1198

For people who want to use the Go proto bazel rules they need to use a version of Go bazel rules newer than c49ec51d37fa0458c88517bbacd3fa4701340b42 (2 Jan 2018).

I have an example GitHub repo: https://github.com/misterwilliam/envoy_v2_sds
that demonstrates a successful import of Go Envoy data plane stubs

[2018-01-02 22:03] #377 closed

[2018-01-03 02:17] wora commented on #367
There is another issue with the auth.proto. All other files in the same directory use package envoy.api.v2, but auth.proto uses envoy.api.v2.auth. I think we should change the proto package to be consistent with other files.

Additionally, the auth.proto uses HTTPRequest, but all other files in the same directory use HttpXxx. I think we should be consistent as well.

@mandarjog Can you help fixing

[2018-01-03 02:19] wora commented on #240
@mandarjog Do we still need this issue?

[2018-01-05 09:47] ramaraochavali opened #396 "Error Handling Based on Grpc Status"
Currently, when there is an error in updating the configuration at envoy side, Envoy would return with the same version and nonce indicating that the update has failed and management server has to take the right course of action. However, it does not pass back any detail about why the update has failed. The only way today to know the error is to enable tracing in the Envoy instance where it failed

[2018-01-05 11:16] htuch commented on #396
https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto specifically.

[2018-01-05 14:39] Corni opened #397 "Generate python grpc files with bazel"
Hi,

the current bazel output for python is not usable to write a management server because the grpc files are missing.

In order to generate them, use_grpc_plugin=True has to be set for py_proto_library.
For this to work, https://github.com/google/protobuf/pull/4088 has to be merged.

Also, one needs //external:grpc_python_plugin, which I worked around by loading the whole grpc repo.
For this to

[2018-01-08 05:00] wora commented on #396
Please consider to use `google.rpc.Status` for all error propagation across services, and document it in STYLE.md. This would make entire system and ecosystem consistent. We did so for all Google APIs.

[2018-01-08 22:54] #368 closed

[2018-01-11 20:21] mattklein123 commented on #203
I think this is complete.

[2018-01-11 20:21] #203 closed

[2018-01-11 20:21] mattklein123 commented on #240
I think this is done.

[2018-01-11 20:21] #240 closed

[2018-01-11 20:22] mattklein123 commented on #257
@lizan I'm going to close this. I haven't head anyone else mention this and I know you know how to debug this and fix so please open PR if still an issue.

[2018-01-11 20:22] #257 closed

[2018-01-12 03:29] ramaraochavali commented on #240
@mattklein123  does the PR https://github.com/envoyproxy/data-plane-api/pull/296 cover the quotos and ratelimiting? or does it just take care of authz aspect and we have to Ratelimiting service for Quotos?

[2018-01-12 16:06] mandarjog commented on #240
It would be good to evolve ext_auth to include bundled ratelimit API, but that needs to be discussed. Using the existing rate limiter certainly works.

[2018-01-12 16:08] mattklein123 commented on #240
IMO ext_auth should not include quota. If we want a new "auth_ratelimit_combo" API we should consider that independently. IMO we can discuss those requests in new issues/PRs.

[2018-01-13 22:27] wora commented on #240
There are other production risks with such a combo API.

- Authorization checks can use stale state. For companies I worked with, they all are fine with 60s delay on policy propagation. For rate limiting, it needs to be checked every 1s or 5s.

- The attributes used for auth check are often different from rate limiting. The combo interface would be hard to scale.

- The authz may have its own quot

[2018-01-16 04:25] ramaraochavali commented on #240
@wora @mattklein123  i am also not suggesting/in-favour of a combo api. But I want to ensure that both the aspects are covered in data-plane apis. If autz and rate-limiting are the two apis which addresses these aspects, I am good with it.

[2018-01-17 01:13] rodaine opened #420 "illegal Go circular dependency between API proto namespaces"
In the current API proto definitions, there are a couple of nuances that make it difficult to consume the proto files using protoc-gen-go without bazel:

**Mixed namespaces in a directory**

Go treats a directory as a single namespace (package) and does not permit mixing source files with different packages in the same directory. `protoc-gen-go`, the official Go protoc plugin, as well as plugins w

[2018-01-17 01:17] davecheney commented on #420
I don't have a horse in this race, but from my experience in this kind of
problem, solving circular dependencies by adding more packages will
exacerbate the problem over time. I recommend that fewer packages, while
uglier, is the way to avoid circular dependency issues in the long run.

On 17 January 2018 at 12:13, Chris Roche <notifications@github.com> wrote:

[2018-01-17 01:25] kyessenov commented on #420
Here's the graph with what looks to be base highlighted:
![image](https://user-images.githubusercontent.com/9537734/35020715-4590b27e-fae2-11e7-8a5e-6e86ac2b0243.png)

(obtained using `bazel query 'filter("^(?!//api:api).*", filter("^(?!.*_go_).*", kind("proto_library", //api/...)))' --output graph > graph.in && dot -Tpng < graph.in > graph.png && open graph.png`)

[2018-01-23 16:36] ramaraochavali opened #427 "Optional StatsName in Cluster (CDS)"
Currently Cluster definition uses name of the cluster while emitting stats of that cluster as per https://www.envoyproxy.io/docs/envoy/latest/api-v2/cds.proto. But if clusters are autogenerated by machines with port number etc to match ":authority" header for example, the stats generated out of the cluster also will have the long non readable names.

Can we introduce an optional "Cluster Stats Nam

[2018-01-23 17:34] mattklein123 commented on #427
A long time ago we used to have this feature. It was called "alt_stat_name." We removed it since it wasn't being used anymore and had to be maintained.

I question the value of this feature. Why can't you just name the cluster what you want the stat name to be?

[2018-01-23 17:47] ramaraochavali commented on #427
if we want to route definition based on ":authority" header , we want to name the cluster as authority header matches (Which could include port etc), so that we do not need to translate it in a filter

[2018-01-23 18:11] mattklein123 commented on #427
OK, we can consider adding the "alt_stat_name" feature back. Will mark this help wanted.

[2018-01-24 04:22] ramaraochavali commented on #427
@mattklein123 Thanks. I can work on this.

[2018-01-24 17:58] ae6rt opened #432 "Missing import for opencensus.proto.trace.Span"
Hello.  I'm new here, and rather new to protobuf.  In the course of analyzing and building the [go-control-plane](https://github.com/envoyproxy/go-control-plane) reference app for Envoy management, I have concluded that there is a missing import to support the field *spans* of type *opencensus.proto.trace.Span* in the StreamTracesMessage message in api/tracing_service.proto

[code]

When building

[2018-01-25 01:10] mattklein123 commented on #432
@bogdandrutu @kyessenov do you mind taking a look at this question?

[2018-01-25 01:25] kyessenov commented on #432
I can take a look at go-control-plane. I am in the weeds with
https://github.com/envoyproxy/data-plane-api/pull/421, but this error is
most likely due to missing protobuf import. We're not using bazel in
go-control-plane, so the proto needs to be imported via other means.

On Wed, Jan 24, 2018 at 9:58 AM Mark Petrovic <notifications@github.com>
wrote:

[2018-01-25 01:30] ae6rt commented on #432
I could be totally wrong, but I don't think the missing import is related to how the data-plane-api .protos are used by go-control-plane.  Instead, I believe that no matter what app uses the .protos from the data-plane-api, the .protos will not compile without an import for the opencensus files.  Maybe you are already saying that.

[2018-01-25 01:35] kyessenov commented on #432
You are right, we still need the go generated files. I haven't looked at where opencensus hosts its protos. We have the same problem with googleapis/googleapis, which we solved (temporarily) by hosting both protos and go files here https://github.com/istio/gogo-genproto. We can do the same for opencensus, but I would prefer if opencesus published their gogo-generated files along with protos somewh

[2018-01-25 22:02] #420 closed

[2018-01-25 23:44] kyessenov commented on #432
@bogdandrutu do you intend to publish gogo-generated files for https://github.com/census-instrumentation somewhere?

[2018-01-27 01:28] bogdandrutu commented on #432
@kyessenov I can do that if I know what I have to do.

[2018-01-27 03:25] kyessenov commented on #432
Thanks @bogdandrutu !

Here is an example of prometheus publishing the generated code: https://github.com/prometheus/client_model/tree/master/go. The idea is to have a repository with `.pb.go` files that are go gettable.

Another example is what we did with the Google APIs core protos. These protos are defined here:
https://github.com/googleapis/googleapis
which are then auto-published officially

[2018-01-28 18:25] rakyll commented on #432
Why don't we follow what Istio already did for the Google protos and publish them under istio/gogo-genproto for now? If there are others who asks for gogo generated code, we can publish them from OpenCensus.

[2018-01-28 18:51] kyessenov commented on #432
That works (cc @dougreid). In the long run, it would be better if OpenCensus maintained its generated code, instead of istio. In this case, I hope OpenCensus protos are more or less stable, so maintenance is minimal.

[2018-01-29 18:51] rakyll commented on #432
OpenCensus protos are stable. We will consider hosting generated code and will ping you to switch in the future. For now, please feel free to host them under Istio.

[2018-01-31 19:35] crazytan opened #454 "Unable to generate correct Go packages from API"
I modified https://github.com/envoyproxy/go-control-plane/blob/master/generate_protos.sh (by the way the script is outdated) to generate `*.pb.go` files for my own project. However `go vet` failed for the generated files because of cyclic dependency issues.

For example, `cds.proto` depends on `auth/cert.proto`, which depends on `base.proto`. If compiled naively, `cds.proto` and `base.proto` would

[2018-01-31 19:37] kyessenov commented on #454
Yes, I'm working on it right now.

On Wed, Jan 31, 2018 at 11:35 AM Jia Tan <notifications@github.com> wrote:

[2018-01-31 19:37] crazytan commented on #454
Thanks!

[2018-01-31 21:14] #367 closed

[2018-02-03 03:21] kyessenov commented on #454
Should be fixed now.

[2018-02-03 03:22] kyessenov commented on #432
Should be fixed now if you use istio/gogo-genproto repository.

[2018-02-03 03:25] kyessenov opened #458 "Use "v2alpha" version for protobuf definitions being implemented"
I think we should use versions to indicate services/filters that are being implemented/not-implemented. This would make it clear what's ready to use and what's not.

[2018-02-03 06:56] crazytan commented on #454
Works flawlessly. Thanks!!!

[2018-02-03 06:56] #454 closed

[2018-02-04 04:34] htuch commented on #369
Closing this out, as I think we've taken the actionable items from this and implemented them. Feel free to reopen if this is not the case.

[2018-02-04 04:34] #369 closed

[2018-02-06 18:33] ccaraman commented on #458
@mattklein123 this is related to the envoy restructuring work.

[2018-02-10 06:58] snowp opened #482 "Expose java proto rules for bazel"
Currently data-plane-api only generates bazel proto rules for a limited set of languages (go/cc/python from what I can tell) and restricts the visibility of the actual `proto_library` targets so that they are not accessible from outside the repo. As far as I can tell, this means that pulling in the protos is not possible for a Java bazel project.

I'd suggest either 1) add and expose `java_proto_l

[2018-02-10 08:18] snowp commented on #482
Talking specifically about the protos in the `friends` visibility group, like `discovery.proto`:

[code]

[2018-02-10 21:55] kyessenov commented on #482
The visibility constraints were added to enforce proper layering of proto packages, to prevent circular dependency formation, for example. It doesn't actually matter which target we apply visibility constraints since all proto rules are generated through `api_proto_library`.

I think there is another option (3): expose two `proto_library` targets, one with visibility constraints, and another one f

[2018-02-11 04:21] ramaraochavali opened #483 "ResourceType Enum in ADS in place of type_url"
Currently, in ADS we use loosely typed string `type_url` to indicate the resource being requested in the `DiscoveryRequest`. This is loosely typed as it is a `string` and validations have to be inplace at the management server implementation to ensure the `type_url` is one of the expected types. This may also change if we move packages around.

Can we introduce a `ResourceType` enumeration similar

[2018-02-11 05:16] snowp commented on #482
Ah, thanks for providing context.

Sounds like 3) would be pretty good solution: it exposes all the api protos without having to remove the layering enforcement. I'll see if I can whip up a quick PR implementing that suggestion.

[2018-02-12 22:00] mattklein123 commented on #250
I'm going to close this out as we now have the java-control-plane project. Please open an issue there if this is still needed as that project will be dealing with Maven, etc. stuff.

[2018-02-12 22:00] #250 closed

[2018-02-12 22:01] mattklein123 commented on #370
Going to close this out. Please checkout out go-control-plane.

[2018-02-12 22:01] #370 closed

[2018-02-12 22:01] mattklein123 commented on #373
I think this is complete.

[2018-02-12 22:01] #373 closed

[2018-02-12 22:02] mattklein123 commented on #427
done

[2018-02-12 22:02] #427 closed

[2018-02-12 22:03] mattklein123 commented on #483
At this point we will no longer move packages in these cases as that will be considered a breaking change. Assuming that, do we still need this? It seems redundant.

[2018-02-13 03:37] ramaraochavali commented on #483
I also do not feel strongly about introducing enum at this point. I just added it as question to see if this makes sense for future. Do we see additional resource types coming in here? In any case, may be worth revisiting when the actual need arises.

[2018-02-13 03:45] wora commented on #483
Everyone will second guess a name. If one wants to rename a package, they
will want to rename the enum as well. Enum doesn't support versioning. How
do you distinguish between v1 and v2 of the same resource? I don't think it
makes anything easier.

[2018-02-13 05:22] ramaraochavali commented on #483
Sure. Enum can be renamed, but it can be caught at compile time where as string can only be caught at runtime. Distinguishing between v1 and v2 of a resource is good point though however is it not dependent on whether we are using v1 ADS or v2 ADS and hence we do not need to explicitly version the enum in this specific case?

[2018-02-13 12:47] htuch commented on #483
There's no value in changing the explicit type_url for stability, since the `Any` resources that arrive in a `DiscoveryResponse` also have an internal type URL, which has the same isssue, see https://github.com/google/protobuf/blob/master/src/google/protobuf/any.proto#L150.

I suggest closing this issue out. @ramaraochavali thanks for thinking about how to improve stability.

[2018-02-13 12:54] ramaraochavali commented on #483
@htuch No issues. We can close this.

[2018-02-13 12:54] #483 closed

[2018-02-13 22:29] kyessenov commented on #396
/subscribe

[2018-02-13 22:40] htuch commented on #396
@wora Let's say we use `google.rpc.Status`. If we have some configuration error that we want to report, it might be mapped back to `INTERNAL`. There might be, for the sake of argument, 3 distinct reasons we want to allow management server code to do something with:

1. The configuration could not be parsed.
2. The configuration contains invalid TLS payload for instantiating Listeners.
3. The confi

[2018-02-13 23:01] wora commented on #396
https://cloud.google.com/apis/design/errors

This page has more information about error handling. The general guideline is:
1. `code` is used by applications. Most applications would not write code to handle more than 3 error codes per API call, so introducing more error codes would not have meaningful benefit.
2. `message` is for developers, the humans, to understand the problem and find a soluti

[2018-02-13 23:09] htuch commented on #396
When a `DiscoveryResponse` fails, there are a bunch of possible reasons, almost none of which fall  within (1). @joeyb can maybe elaborate on one very specific one he encountered recently, which he wanted to handle programatically by the management server.

I think (3) makes the most sense for us; it look like this is just an `Any` field, so where we don't have any sensible https://github.com/goog

[2018-02-14 05:08] wora commented on #458
Please do. I am happy to review the change. Please try to share the same guideline between Istio and Envoy.

One important decision we have to make is do we allow deprecating a feature within a version. I think we should. In general, it is far cheaper to deprecate a feature than deprecate a version, for everyone involved.

[2018-02-14 11:41] ramaraochavali commented on #396
@htuch i think to start with `EnvoyException` message with status code `INTERNAL` seems to be a good approach. I can take a stab at it.

[2018-02-14 13:26] htuch commented on #458
We already have made the decision to deprecate within a version, so I think that part is settled. We can make this explicit in the style guide.

[2018-02-22 04:53] ramaraochavali commented on #396
closed via https://github.com/envoyproxy/envoy/pull/2618,https://github.com/envoyproxy/data-plane-api/pull/496, https://github.com/envoyproxy/data-plane-api/pull/502

[2018-02-22 04:53] #396 closed

[2018-03-07 15:11] kavyako opened #526 "Support for INT64_MAX in HeaderMatcher range_match for request routing"
@wora @sridmad
We went with half open interval semantics for range_match, following the google API guidelines.
However, how do we support INT64_MAX value in this pattern [inclusive, exclusive) ?
Am wondering if we should change the envoy.type.Int64Range in Range.proto to be [inclusive,inclusive] unless we have some strong reasons to stick to [inclusive, exclusive)

Thoughts?

[2018-03-07 15:11] kavyako commented on #526
Also one workaround is to use exact_match (value based match) for this case of INT64_MAX.

[2018-03-09 21:00] htuch commented on #526
@wora any thoughts here?

[2018-03-11 21:23] wora commented on #526
After working with over a thousand APIs, we have not seen any API has legit
use of INT64_MAX. If anyone really need it, they should carry the burden to
deal with it. For example, one can say if end < start means MAX.

The reason to enforce a single range representation is to eliminate choice.
Otherwise people will use different choices, then copy from A to B becomes
impossible. Each range has 4 ch

[2018-03-13 20:34] rshriram opened #540 "Route-local filter configuration"
Few related issues:

Some filters (like fault filter) perform duplicated processing *under certain circumstances*. E.g., in Istio, faults do not have separate matching conditions. When a route matches HTTP headers, one can inject a fault per route.

In other circumstances, some folks want per route fault configuration. Same applies to per route Lua code. While its possible to have multiple instanc

[2018-03-13 20:40] kyessenov commented on #540
We don't need the roundtrip from opaque metadata, right? If the config is
fairly small, you could just access fields directly from the proto struct?

On Tue, Mar 13, 2018 at 1:34 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-03-13 20:54] rshriram commented on #540
https://github.com/envoyproxy/envoy/blob/master/source/common/protobuf/utility.h#L195

[2018-03-13 21:05] htuch commented on #540
I wouldn't worry too much about the performance of going from opaque metadata Struct to typed proto; this can always be optimized later. What's more interesting is whether or not we want the route metadata to be a form of filter configuration delivery.

I think it would be better to have a filter chain explicitly added to `RouteAction`, WDYT?

[2018-03-13 21:10] rshriram commented on #540
what do you mean by adding filter chain to route action? There are couple of aspects here. I have N pre-configured global filters, and I would like to choose a subset of them for a given route. The other one is I would like to specify the override configuration for one or more filters, for a given route.

If we ignore the performance issue in the interim, we can solve both simply using the opaque

[2018-03-13 21:11] htuch commented on #540
i mean that any per-route filter config should be called out as a first-class object in the route action. This avoids us overloading metadata for configuration.

[2018-03-13 21:49] mattklein123 commented on #540
I think the issue here is that this works out for for filters built-in to Envoy, but doesn't work out for out of tree filters.

I guess my general opinion is that for built-in filters it's probably fine to add explicit per-route configuration, and for extensions metadata can be used?

[2018-03-13 22:22] rshriram commented on #540
That was what I was leaning towards as well. And we could move incrementally.

Per offline discussion with @htuch , he seemed to indicate a more generic filter merging system (listener level, vhost level, route level). I am not sure how all the existing HTTP filters will work, when we have a generic filter merge system. E.g., how does gzip filter/grpc_web/iptagging work in this scenario? The merge

[2018-03-13 22:46] mattklein123 commented on #540
Apart from merging which I agree is kind of a per-filter thing probably, I did have one other thought that might be interesting. What if we allowed the route to have a special kind of metadata which is effectively an `Any` object. Then, during route load, we can load it into a proto, and store it in the route. Then, the user of the route can acquire the specific message with a dynamic cast which s

[2018-03-14 11:19] htuch commented on #540
A concrete proposal:

1. Add to either `Route` or `RouteAction` a `map<string, T>`, where `T` is `Struct` or `Any`. It looks a lot like the existing metadata object, but it's in a field called `filter_config`. Let's not overload the concept of "metadata" any further.

2. I don't think the choice of `Any` or `Struct` matters here at all for `T` from a performance angle. We should be deserializing i

[2018-03-14 17:13] rshriram commented on #540
I think we need Any. When parsing the Route, we create a map of filter name and the generic Proto::Message structs formed from Any. Filters can type cast it to the appropriate protos in the data path (not sure if this is possible). This will allow both in-house and open source filters to consume a single function of the form `routeEntry()->filterConfig(filter_name)`, whose return value can be cast

[2018-03-14 17:15] mattklein123 commented on #540
@rshriram I was just about to say the same thing. I think we do need Any also for this reason. Though, I'm still a little confused on how we do this generically with Any. Obviously Any has the type, but do you then use reflection to create a message of that type? @htuch ?

[2018-03-14 17:32] htuch commented on #540
Why can't `RouteConfiguration` parsing call into a filter specific method to do the deserialization at config load time?

[2018-03-14 17:35] htuch commented on #540
FWIW, you don't type cast `Any`, it's doing a full proto deserialization (the `Any` representation is just proto encoded bytes). So, I don't think it's great to do this on the data path.

[2018-03-14 17:46] rshriram commented on #540
You have to excuse my proto naiveté. I thought Any was some abstract root object :P.

Essentially what we need is some form of an abstract config class for all filters.. e.g., FilterConfig.. RouteConfiguration stores map of filter names and the filter configuration instances (under the abstract class). And filters can obtain their route-local config. The standard inheritance stuff. How we go about

[2018-03-14 18:15] mattklein123 commented on #540
@htuch I'm with @rshriram it seems like we basically need the following:
1) map<string, Any> on the route/vhost
2) During config load we take the Any and translate this into unordered_map<std::string, protobuf::MessagePtr>
3) Allowing filters to fetch a specific type by getting out of the map and doing a dynamic_cast.

Right? The question then is how to turn an Any into a MessagePtr? I assume we c

[2018-03-14 18:38] kyessenov commented on #540
It probably requires compiling-in proto descriptors for the filter config. It's fine for the built-in filters like fault-injection, and is probably also OK for the customized builds as long as we tell folks to include the proto descriptors.

[2018-03-14 23:45] lizan commented on #540
Let's not go to `Struct` and `Any` discussion again here. While I am generally a fan of Any, but I don't see a strong reason that `Any` can do better in this situation. So why don't we just start with `Struct` which has been consistently opaque config around v2 APIs, and handle `Struct` vs `Any` when we really need them?

[2018-03-14 23:48] mattklein123 commented on #540
@lizan I don't understand how we can use struct without having some other mapping of the typename to unpack to. If we do that, why don't we use Any? Or at least your other idea of Struct or Any?

[2018-03-15 00:04] lizan commented on #540
Every other opaque configs (filters, transport sockets, access logs) uses Struct with a `name`. When envoy parses the config it lookup the implementation by the name and let the implementation specifies the type by calling [`createEmptyConfigProto`](https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.h#L205), here we have the name as key of `map<string, T>` so we can just

[2018-03-15 00:26] htuch commented on #540
What @lizan said. You need to know type name and C++ type or load a
descriptor for Any to even get it into a Message, proto deserialization
from the Any encoding needs to know which descriptor. Let's do the
deserialization when the RouteConfiguration materializes, using the filter
name key to get at the relevant filter interface.
On Wed, Mar 14, 2018 at 8:04 PM Lizan Zhou <notifications@github.com

[2018-03-15 01:10] mattklein123 commented on #540
Let me make sure I understand. The idea here is to add a new factory function here: https://github.com/envoyproxy/envoy/blob/master/include/envoy/server/filter_config.h#L296 like `createEmptyRouteConfigProto()` and lookup by registered filter name? I guess that works, though I worry that we may end up adding N of these factory things eventually. Using Any with embedded type does seem like a better

[2018-03-15 01:17] mattklein123 commented on #27
I'm going to close this for now. I haven't heard any desire for this. We can reopen if needed.

[2018-03-15 01:17] #27 closed

[2018-03-15 03:39] htuch commented on #540
@mattklein123 yep.

Not to bikeshed Struct vs. Any, but here's my position:

1. We should only do something inconsistent with the rest of filter config it it buys us something, i.e. if route filter configs are somehow "different" than other filter configs. Otherwise, we violate the principle of least surprise for the user, who see Struct based configs for filter config everywhere else. Reasons it

[2018-03-15 03:40] htuch commented on #540
For others in the conversation who are new to this topic, the ultimate bike shedding resource on Struct vs. Any is https://blog.envoyproxy.io/dynamic-extensibility-and-protocol-buffers-dcd0bf0b8801.

[2018-03-15 07:36] lizan commented on #540
@mattklein123 `Any` does nothing better than `Struct` for your worry here.

The current way that we're dealing with `Struct` are:
1. Call `createEmptyConfigProto` to instantiate a `ProtobufTypes::Message`
2. Envoy parses `Struct` into the instance
3. Call `createFilterFactoryFromProto` with the instance as 1st parameter.

If we go with Any, nothing will change 1. and 3. but only 2.

If we want to

[2018-03-15 16:00] mattklein123 commented on #540
@htuch @lizan we don't need to debate this anymore and can use Struct. I did not previously understand the proposal.

With that said, I think I'm fundamentally confused about the utility of `Any`. Theoretically, is it not possible to do the following:

1) Take an `Any` message with embedded type info.
2) Use reflection to create a `Protobuf::Message` based on the type info (assuming descriptors ar

[2018-03-15 16:39] rshriram commented on #540
All, I changed the issue title and description to accurately reflect the scope of this work. This is for route-local filter *configuration* only. Route-local filter stacks is a whole new ballgame, that requires more serious thought.

Also, why do we need another function in the filter config factory? In the routing code, all we need is

[code]
and we now have the typed proto representation stored

[2018-03-15 19:33] lizan commented on #540
@rshriram You're assuming route-local filter config and listener-level filter are same type so they can share `createEmptyConfigProto`. Is that the real case?

[2018-03-15 20:08] mattklein123 commented on #540
@lizan I agree. I had a lengthy discussion about @htuch about this. Although I think Any is a better solution here in general, I agree that consistency trumps and we can just use struct. Let's just move forward with a PR at this point? I think we are in agreement. There are a bunch of places in which I think this will be immediately useful (inline RBAC, per-route compression filter, etc.).

@rshri

[2018-03-16 15:52] rshriram commented on #540
The thing is that we would need one for virtual host, and one for routes. And this will spill into tcp as well (incl filter chain match). Do we add different factory functions for each location?

Or possibly have a single function with a enum argument that indicates the location where the metadata is being sourced from. Something like

createOverrideFilterConfigProto(enum location, protobuf.Struct

[2018-03-16 16:29] tz70s opened #555 "Broken link in http1.1 bridge doc"
In [configuration/http_filters/grpc_http1_bridge_filter](https://github.com/envoyproxy/data-plane-api/blob/master/docs/root/configuration/http_filters/grpc_http1_bridge_filter.rst)
[code]

The [link](http://www.grpc.io/docs/guides/wire.html) is broken, however, seems the doc from [grpc.io guide wire format](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) is not highly relative to *

[2018-03-16 17:01] htuch commented on #540
I think we can keep this simple. Have one filter config that is system wide, and another that is overridable on a per-route basis. Merge the protos together that appear along the route selection to provide a unified per-route config.

[2018-03-16 17:22] mattklein123 commented on #540
Per @rshriram I think we probably want to allow the extra config to be specified both at the virtual host and the route level. I'm not even sure that we have to auto merge. The filter IMO can do what it wants with the different pieces of data. I think that the route and virtual host config objects can be the same type so we only need a single additional factory function.

[2018-03-16 17:24] mattklein123 commented on #555
@tz70s can you do a PR to fix the link? Thank you!

[2018-03-16 18:15] tz70s commented on #555
@mattklein123 sure, I'm looking around a proper replacement.

[2018-03-17 19:00] #555 closed

[2018-03-17 19:01] mattklein123 commented on #432
Closing. Let's reopen if this is still an issue.

[2018-03-17 19:01] #432 closed

[2018-03-19 21:53] htuch commented on #540
@mattklein123 that sounds reasonable, I don't care about auto-merge, more about bounding the number of new factories we need.

[2018-03-19 21:54] htuch commented on #526
@kavyako does this address the original issue? Can we just use some special case hack like end < start?

I find this kind of surprising TBH that we can't handle the max value, but I'll defer to the thousand API history.

[2018-03-20 15:53] kavyako commented on #526
yes, sounds reasonable. I am closing the issue.

[2018-03-20 15:53] #526 closed

[2018-03-20 20:23] htuch commented on #458
@kyessenov I think we are in agreement that `v2alpha` is the way to go for new stuff that is in-flight. Do you want to do the PR?

[2018-03-20 20:39] kyessenov commented on #458
Sure, I'll be happy to make an assessment what needs to be put into alpha. jwt_authn is a good candidate. In terms of the naming scheme, we can use v2alphaN series as well, but v2alpha is probably sufficient for a small iterative cycle (e.g. if an alpha API is going to take > 3 months to finish, then it makes sense to version it further.)

[2018-03-20 21:15] kyessenov commented on #458
Here are the candidates:
1. envoy/config/accesslog/v2 service is marked as not-implemented-hide, but there's code in envoy to use it for HTTP/gRPC access logging
2. envoy/service/load_stats/v2 has the same issue, not fully exposed
3. envoy/service/ratelimit/v2 seems to have no implementation, can be safely marked as v2alpha
4. ext_authz http and network filter design/implementation are still in-pr

[2018-03-20 21:57] mattklein123 commented on #458
@kyessenov I would leave envoy/config/accesslog/v2 as it is. We already basically have it in production at Lyft, it just needs a few things finished and some docs. The protos are locked IMO. @rodaine will follow up here.

For envoy/service/ratelimit/v2, we just need to actually use this. It's a copy of the proto we have copied into the Envoy repo for the generic rate limit service. So I would prob

[2018-03-20 22:08] kyessenov commented on #458
OK, that makes sense. @htuch what about load_stats? If it is almost ready, then it is not worth marking them as alpha.

[2018-03-20 22:20] htuch commented on #458
load_stats can be frozen, we have this in significant integrations within Google and we can change behavior in a backwards compatible way going forward. Thanks @kyessenov.

[2018-03-20 22:33] kyessenov commented on #208
@PiotrSikora, given that the flag `use_original_dst` is now marked as deprecated, do you have any plans or timelines on moving to the filter chains / multiple listeners? This has significant implications on how istio programs envoy.

[2018-03-21 00:34] rodaine commented on #458
It's marked hidden until I can get the documentation squared away +- finish emitting the missing fields from the message.

[2018-03-21 02:04] htuch commented on #540
@rshriram do we have enough agreement here for you to move forward?

[2018-03-21 20:12] PiotrSikora commented on #208
@kyessenov it's deprecated because `use_original_dst` was moved to `listener_filters`, but that's unrelated to multiple filter chains, see: https://github.com/envoyproxy/data-plane-api/commit/fd1a8c4269910caa2d99bf919c0ad13fb3d70f4f.

[2018-03-21 20:17] kyessenov commented on #208
Sorry, the terminology around "listener filters" and "filter chains" is a bit confusing. Is this how istio should model the iptables redirection then:
1. one listener L1 on iptables redirection port
2. listener filter in L1 that applies `use_original_dst`
3. multiple filter chains in L1, each with a guard on the recovered port.

[2018-03-21 20:35] PiotrSikora commented on #208
Yes, with the addition of `prefix_ranges` and/or `address_suffix` in step 3, to match on recovered `IP` _and_ `port`.

[2018-03-23 18:50] mattklein123 commented on #540
@rshriram @kyessenov we would like to use this at Lyft for a few different things (RBAC, gzip, buffer, etc.). Are one of you planning on tackling this or should we find someone else?

[2018-03-28 17:12] mattklein123 commented on #540
@rshriram @kyessenov last chance. :)

We need this at Lyft so I'm going to find someone at Lyft to do this if no one is working on it.

[2018-03-28 17:16] kyessenov commented on #540
I asked Shriram offline, and he said he wanted to work on it. Hopefully he
can chip in himself.

On Wed, Mar 28, 2018 at 10:12 AM Matt Klein <notifications@github.com>
wrote:

[2018-03-29 18:19] mattklein123 commented on #540
@rshriram @kyessenov I'm just going to pull the trigger here and assign this over to @rodaine. @rodaine can you take this on and do an API PR? Beyond the mountain of text above the actual API change is quite small, I can chat with you offline about it.

[2018-04-07 00:10] mattklein123 commented on #540
Closing this out as I think we have a path forward here.

[2018-04-07 00:10] #540 closed

[2018-04-16 19:53] htuch commented on #482
@snowp if you still are interested in this, can you recreate the issue in https://github.com/envoyproxy/envoy? I'm going to close out for now as per https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/envoy-dev/KcVHFH-zQwQ. Thanks!

[2018-04-16 19:53] #482 closed

[2018-04-16 19:53] htuch commented on #397
@Corni if you still are interested in this, can you recreate the issue in https://github.com/envoyproxy/envoy? I'm going to close out for now as per https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/envoy-dev/KcVHFH-zQwQ. Thanks!

[2018-04-16 19:53] #397 closed

[2018-04-16 19:53] htuch commented on #68
I'm going to close this out for now due to inactivity.

[2018-04-16 19:54] #68 closed

[2018-04-16 21:32] htuch commented on #351
Migrated to https://github.com/envoyproxy/envoy/issues/3091.

[2018-04-16 21:32] #351 closed

[2018-04-16 21:35] htuch commented on #311
Migrated to https://github.com/envoyproxy/envoy/issues/3092

[2018-04-16 21:35] #311 closed

[2018-04-16 21:39] junr03 commented on #231
thanks @kyessenov

[2018-04-16 21:39] #231 closed

[2018-04-16 21:42] htuch commented on #158
Migrated to https://github.com/envoyproxy/envoy/issues/3094

[2018-04-16 21:42] #158 closed

[2018-04-16 21:51] htuch commented on #208
Just confirmed with @kyessenov that this is now resolved so closing out.

[2018-04-16 21:51] #208 closed